extends ../../../layouts/default

include ../../../mixins/classified

block intro
	.page-intro: .container
		h1.page-title Classifieds
		hr
		if user
			a(href='/me/create/classified') create classified
		if !user
			a(href='/join') Register to create classifieds
		hr

block content
	.page-content: .container.blog
		.row
			div(class= !data.classifieds.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if data.classifieds.length
					.post-cards.row(itemscope itemtype="http://schema.org/Blog")
						each classified in data.classifieds
							+classified(classified)
				else
					h3.text-muted There are no classifieds yet.