extends ../../../layouts/default

block intro 
	//-https://codepen.io/peanav/pen/ulkof
	div.calendar-container
		div#calendar

block js
	script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
	script(src="js/views/calendar.js")
	script.
		var events_data = !{JSON.stringify(events)};
		var calendar = new Calendar('#calendar', events_data);