extends ../../../layouts/default


//- INCLUDES
include ../../../mixins/recentpost

include ../../../mixins/advertisement

//- INTRO
block intro
		if country
			if country.image
				div(style={'background-image':'url('+country.image.secure_url+')'}).home-image
				h1.home-image-title= 'Welcome to Babylon  ' + country.name
			else
		else
		.page-intro: .container-sm
			hr
			if country
				p.text-center= 'Enjoy your experience in ' + country.name 	
		h3 
			a(href="/radioplayer" onclick="window.open(this.href, 'RadioPlayer', 'left=20,top=20,width=450,height=650,toolbar=1,resizable=0'); return false;") Play Radio		

		include ../../../includes/layout/latest-news

			.row.cf.highlights-box
				if newsPosts && newsPosts.length
					.column.half 
						section.highlights
							span.cat-title.larger.cat-10
								a(href='/news/news') News
							+recentpost(newsPosts)
				if culturePosts && culturePosts.length
					.column.half
						section.highlights
							span.cat-title.larger.cat-75
								a(href='/news/culture') Culture
							+recentpost(culturePosts)

			.row.cf.highlights-box
				if lifestylePosts && lifestylePosts.length
					.column.half 
						section.highlights
							span.cat-title.larger.cat-10
								a(href='/news/lifestyle') Lifestyle
							+recentpost(lifestylePosts)
				if whatsonPosts && whatsonPosts.length
					.column.half
						section.highlights
							span.cat-title.larger.cat-75
								a(href='/news/what-s-on') What's on
							+recentpost(whatsonPosts)

//- JS
block js

	//- REACT SCRIPTS
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		document.getElementById("playRadio").click(function(){
		console.log("")
			window.open('/payment','RadioPlayer','width=450,height=700');
		});
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
