extends ../../../layouts/default


//- INCLUDES
include ../../../mixins/post

include ../../../mixins/advertisement

//- INTRO
block intro
		if country
			h2.text-center= 'Welcome to Babylon  ' + country.name
				if country.image
					img(src=country.image.secure_url, alt=country.name).home-image
		else

//- JS
block js

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
