extends ../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Join The Team
          |       
          |         
          .row.aboutUs
            .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
              .col-lg-4.col-md-4.col-sm-4.col-xs-4
                a(href='about')
                  button#ourConceptBtn.aboutUSbtn Our Concept
              // col-lg-4
              .col-lg-4.col-md-4.col-sm-4.col-xs-4
                a(href='')
                  button#joinTheTeamBtn.active.aboutUSbtn Join the team
              // col-lg-4
              .col-lg-4.col-md-4.col-sm-4.col-xs-4
                a(href='contactUs')
                  button#contactUsBtn.aboutUSbtn Contact Us
              // col-lg-4
            // col-lg-8
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Babylon Radio is a multicultural site with information about living here, visiting and things to do, playing music from all around the world, running multicultural events and more. The components of our project consist on a Web Radio, a Web Site and a Multicultural Community, which are created to help people to feel included, informed and welcome through our website, radio shows and events. Our aim is to help people around the world unite through music with no barriers of borders, race, religion or politics.
              |              
              |              
              br
              |       
              |              
              .jobTab
                button#defaultOpen.tablinks(onclick="openJob(event, 'editor')") Editor
                |                   
                button.tablinks(onclick="openJob(event, 'eventManager')") Event Manager
                |                   
                button.tablinks(onclick="openJob(event, 'webDeveloper')") Web Developer
                |                   
                button.tablinks(onclick="openJob(event, 'radioPresenter')") Radio Presenter
                |                   
                button.tablinks(onclick="openJob(event, 'projectManager')") Project Manager
                |                   
                button.tablinks(onclick="openJob(event, 'webDesigner')") Web Designer
                |                   
                button.tablinks(onclick="openJob(event, 'marketingConsultant')") Marketing Consultant
                |                   
                button.tablinks(onclick="openJob(event, 'journalist')") Journalist
                |                   
                button.tablinks(onclick="openJob(event, 'officeAdmin')") Office Administration
              // jobTab
              #editor.jobTabContent
                h3 Editor
                |                   
                p
                  | Babylon Radio are looking for an Editor, with a good sense of what makes an interesting angle to a story, to juggle all the moving parts of publications. You will plan, coordinate, review and edit content. The successful candidate will be able to decide which ideas should be pursued  and which should get dropped in order to meet quality and accuracy standards. The goal is to provide exceptional, informative and engaging content.
                  br
                  br
                  |                      
                  b Responsibilities:
                ul
                  li(type='square') Coordinate online publishing cycle and manage content areas
                  |                          
                  li(type='square') Set publication standards and establish goals and expectations
                  |                          
                  li(type='square')
                    | Suggest stories and generate headline ideas in alignment with targeted audience&rsquo;s preferences
                  |                          
                  li(type='square')
                    | Oversee layout (artwork, design, photography) and check content for accuracy and errors
                  |                          
                  li(type='square') Proofread, edit and improve stories or pieces
                  |                          
                  li(type='square') Recruit and manage writers and reporters
                  |                          
                  li(type='square')
                    | Cooperate and liaise with designers, photographers, advertising reps, writers, artists etc
                  |                          
                  li(type='square') Comply with media law and ethical guidelines
                  |                          
                  li(type='square') Meet deadlines
                |                     
                br
                |                     
                b Requirements:
                |                     
                ul
                  li(type='square') Some working experience as an editor
                  |                          
                  li(type='square') Strong writing/editing/proofreading skills and an excellent portfolio
                  |                          
                  li(type='square') Proven familiarity with SEO and social media best practices
                  |                          
                  li(type='square') Excellent written skills in English
                  |                          
                  li(type='square') An eye for detail along with critical thinking
                  |                          
                  li(type='square') Prioritizing and multitasking
                |                   
                p
                |               
                |                   
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #eventManager.jobTabContent
                h3 Event Manager
                |                 
                p
                  b Role Summary:
                  |                    
                  br
                  br
                  |                    Responsible for managing events and ensuring deadlines and budgets are adhered to. Directs coordination of activities to prepare for the day of the event.
                  |                    
                  br
                  br
                  |                    
                  b Responsibilities:
                ul
                  li(type='square') Manage staff responsible for event coordination activities
                  |                       
                  li(type='square') Coordinate details of events
                  |                       
                  li(type='square') Calculate budgets and adjust when necessary
                  |                       
                  li(type='square') Book venues and negotiate fees
                  |                       
                  li(type='square') Prepare invitations and send out at appropriate time
                  |                       
                  li(type='square') Work with guest of honor to ensure all requests are met
                  |                       
                  li(type='square') Drive attendance to the event
                  |                       
                  li(type='square')
                    | Promote the event using flyers and social media as examples of ways to spark attention
                  |                       
                  li(type='square') Define company brand through events
                  |                       
                  li(type='square') Ensure day of event goes smoothly
                |                    
                br
                |                    
                b Requirements:
                |                    
                br
                br
                |                    No professional experience is required.
                |                    
                br
                br
                |  
                |                    The successful applicant needs to have above-average organization and communication skills. He or she needs to be able to think outside the box, on his feet and get problems resolved in seconds.
                |                    
                br
                br
                |  
                |                    The manager needs to have the ability of working with every kind of person as well as having great skills in time management and the ability to prioritize tasks. The candidate has to have great skills in problem solving as well as superior skills in communication.
                |                    
                br
                br
                |                    All applications will be considered.
                |               
                p
                |               
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #webDeveloper.jobTabContent
                h3 Web Developer
                |              
                p
                  | Babylon Radio is currently looking for Web Developers to join their growing team in Dublin City Centre. It is an exciting opportunity for anyone who is interested in starting a professional career within the radio industry. The candidates will have the chance to gain knowledge on how a radio station works and to develop their own styles with Babylon Radio.
                  br
                  br
                  |                
                  b Role Summary:
                  |                
                  br
                  br
                  |                The intern will be responsible for the coding, innovative design and layout of our website. You will build our website from concept all the way to completion from the bottom up, fashioning everything from the home page to site layout and function.
                  |                
                  br
                  br
                  |                
                  b Responsibilities:
                ul
                  li(type='square')
                    | Write well designed, testable, efficient code by using best software development practices
                  |                   
                  li(type='square') Create site layout/user interface by using standard HTML/CSS practices
                  |                   
                  li(type='square') Integrate data from various back-end services and databases
                  |                   
                  li(type='square') Gather and refine specifications and requirements based on technical needs
                  |                   
                  li(type='square') Create and maintain software documentation
                  |                   
                  li(type='square') Be responsible for maintaining, expanding, and scaling our site
                  |                   
                  li(type='square')
                    | Stay plugged into emerging technologies/industry trends and apply them into operations and activities
                  |                   
                  li(type='square') Cooperate with web designers to match visual design intent
                |                
                br
                |                
                b Requirements:
                |                
                br
                br
                |                No professional experience is required.
                |                
                br
                br
                |                The candidate should preferably possess: Programming skills and some knowledge of modern HTML/CSS; Familiarity with at least one of the following programming languages: HTML, CSS Javascript, WordPress; A solid understanding of how web applications work including security, session management, and best development practices; Adequate knowledge of relational database systems, Object Oriented Programming and web application development; Basic knowledge of Search Engine Optimisation process; Aggressive problem diagnosis and creative problem solving skills.
                |                
                br
                br
                |                All applications will be considered.
                |             
                p
                |             
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #radioPresenter.jobTabContent
                h3 Radio Presenter
                |         
                p
                  | Babylon Radio is currently looking for aspiring Radio Presenters to join their growing team in Dublin City Centre. It is an exciting opportunity for anyone who is interested in starting a professional career in the radio industry. The candidates will have the chance to gain knowledge on how a radio station works and to develop their own styles with Babylon Radio.
                  br
                  br
                  |           
                  b Role Summary:
                  |           
                  br
                  br
                  |           Babylon Radio have opportunities for enthusiastic DJs and radio presenters that want to join us in this innovative project, that aims to put together different people, cultures and musical expression. It is also possible to read news, weather, sport or other reports as you will be responsible for a section. You may have to coordinate with producers to develop program material while taking into consideration the type of show they are creating and requests from the audience. You may interview guests, talk with the audience and help with preparing content for the program. We are looking for people who have the ability to create dynamic and original shows consistently.
                  |           
                  br
                  br
                  |           
                  b Responsibilities:
                ul
                  li(type='square') Planning, researching and writing their own scripts before broadcast
                  |              
                  li(type='square')
                    | Be able to generate original ideas, and to think creatively about how to communicate them to audiences
                  |              
                  li(type='square') Understand how to use the voice effectively for radio
                  |              
                  li(type='square') Be able to communicate knowledgeably and engagingly with audiences
                  |              
                  li(type='square') Have excellent communication skills and be able to draw information from people
                  |              
                  li(type='square')
                    | Have knowledge of the radio market, different station and programme styles, and audience demographics
                  |              
                  li(type='square') Reacting quickly and positively to any problems or changes
                |           
                br
                |           
                b Requirements:
                |           
                br
                br
                |           No professional experience is required.
                |           
                br
                br
                |           The ideal candidate should have a keen interest in the radio station field and positive and creative attitude. The person has to demonstrate passion and willing to learn and actively participate in Babylon Radio&rsquo;s projects. Excellent communication and relational skills are essential to fulfill this role position.
                |           
                br
                br
                |           All applications will be considered.
                |         
                p
                |         
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #projectManager.jobTabContent
                h3 Project Manager
                |         
                p
                  | Babylon Radio is currently looking for a Project Manager to join their growing team in Dublin City Centre. It is an exciting opportunity for students or recent graduates who want to start their professional career or are looking for an internship to complete their studies. The candidates will have the chance to gain knowledge on how a radio station works.
                  br
                  br
                  |           
                  b Role Summary:
                  |           
                  br
                  br
                  |           The Project Manager will be responsible of managing the full project management process. The successful candidates will work closely to the other company&rsquo;s functions creating productive liaison among all the of them, as well as building relationships with clients and potential partners.
                  |           
                  br
                  br
                  |           
                  b Responsibilities:
                ul
                  li(type='square') Participate in the entire project management process
                  |              
                  li(type='square') Provide supports to the other departments and functions
                  |              
                  li(type='square') Monitor all issues and problems
                  |              
                  li(type='square') Document and report the current status of projects
                  |              
                  li(type='square')
                    | Establish relationships at all level in order to create an effective participation throughout the whole company
                |           
                br
                |           
                b Requirements:
                |           
                br
                br
                |           No professional experience is required.
                |           
                br
                br
                |           The ideal candidate should possess a Business related background, either for the academic or professional field, and should also demonstrate passion and desire to learn and actively participate in Babylon Radio&rsquo;s projects. Excellent communication, organisational, and relational skills are essential to fulfil this role position.
                |           
                br
                br
                |           All applications will be considered.
                |         
                p
                |         
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #webDesigner.jobTabContent
                h3 Web Designer
                |        
                p
                  | Babylon Radio is currently looking for Web Designers to join their growing team in Dublin City Centre. It is an exciting opportunity for anyone who is interested in starting a professional career in the media industry.
                  br
                  br
                  |          
                  b Role Summary:
                  |          
                  br
                  br
                  |          We are looking for a talented Web Designer to create amazing user experiences.  The ideal candidate should have an eye for clean and artful design, possess superior user interface design skills and be able to translate high-level requirements into interaction flows and artifacts, and transform them into beautiful, intuitive, and functional designs.&ZeroWidthSpace;
                  |          
                  br
                  br
                  |          
                  b Responsibilities:
                ul
                  li(type='square') Execute all visual design stages from concept to completion
                  |             
                  li(type='square') Conceptualize original ideas that bring simplicity and user friendliness
                  |             
                  li(type='square')
                    | Create wireframes, storyboards, user flows, process flows and sitemaps to effectively communicate interaction and design ideas
                  |             
                  li(type='square') Establish and promote design guidelines, best practices and standards
                |          
                br
                |          
                b Requirements:
                |          
                br
                br
                |          No professional experience is required.
                |          
                br
                br
                |          The candidate should preferably possess: Demonstrable graphic design skills; knowledge in creating wireframes, storyboards, knowledge in Photoshop, Illustrator, or other visual design and wireframing tools; Excellent visual design skills with sensitivity to user-system interaction&ZeroWidthSpace;; Ability to solve problems creatively and effectively.
                |          
                br
                br
                |          All applications will be considered.
                |         
                p
                |         
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #marketingConsultant.jobTabContent
                h3 Marketing Consultant
                |       
                p
                  | Babylon Radio is currently looking for Marketing Consultants to join their growing team in Dublin City Centre. It is an exciting opportunity for students or recent graduates who want to start their career in the marketing field. The candidates will have the possibility to gain knowledge on how a radio station works.
                  br
                  br
                  |         The period in which you would like to do the internship is flexible and can be discussed with us. You can choose the length, which should not be less than 3 months, and the starting date, which should allow yourself and us to have everything settle for your arrival in our company.
                  |         
                  br
                  br
                  |         
                  b Role Summary:
                  |         
                  br
                  br
                  |         The Marketing Consultant will be responsible of creating and implementing marketing strategies to meet the company&rsquo;s goals. The intern will be involved in advertising and promotional activities, as well as in conducting marketing analysis regarding Babylon&rsquo;s target market, customers, and competitors.
                  |         
                  br
                  br
                  |         
                  b Responsibilities:
                ul
                  li(type='square') Plan and manage marketing activities;
                  |            
                  li(type='square') Demonstrate marketing technical skills;
                  |            
                  li(type='square') Conduct market research to identify the market requirements;
                  |            
                  li(type='square') Analyse and contact potential strategic partners;
                  |            
                  li(type='square') Contribute with their ideas to improve the marketing strategy
                |          
                br
                |          
                b Requirements:
                |          
                br
                br
                |          No professional experience is required.
                |          
                br
                br
                |          The ideal candidate should possess a Marketing background, either related to the academic or professional field. The intern has to demonstrate passion and willing to learn and actively participate in Babylon Radio&rsquo;s marketing projects. Excellent communication, organisational, and relational skills are essential to fulfill this role position.
                |          
                br
                br
                |          All applications will be considered.
                |        
                p
                |        
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #journalist.jobTabContent
                h3 Journalist
                |        
                p
                  b Role Summary:
                  |           
                  br
                  br
                  |           We are looking for passionate Journalists to participate in the creative cycle of a news story by investigating and writing rich and unbiased stories. While many think of journalists of writing articles for print publications, journalists nowadays have to be familiar with technology and not only write for print publications, but for the web, on social media, take pictures, video and more. In order to survive and thrive in the journalism field, you have to be knowledgeable in terms of media familiarity and confident writing in various mediums.
                  |           
                  br
                  br
                  |           
                  b Responsibilities:
                ul
                  li(type='square') Collect, verify and analyse newsworthy information
                  |              
                  li(type='square') Assemble findings into a stable story
                  |              
                  li(type='square') Write and deliver news stories with the reader&rsquo;s perspective in mind
                  |              
                  li(type='square') Receive assignments or investigate news leads/tips
                  |              
                  li(type='square') Abide by journalism&rsquo;s ethics and codes
                |           
                br
                |           
                b Requirements:
                |           
                br
                br
                |           No professional experience is required.
                |           
                br
                br
                |           The ideal candidate should possess: An inquiring mind; excellent written English and a concise writing style; the ability to win the confidence of all kinds of people; high standards of accuracy; the ability to produce good work under pressure; a thick skin, to handle rejection; persistence and stamina; quick understanding &ndash; journalists often have to write with authority on unfamiliar subjects; a knowledge of the law as it affects journalism.
                |           
                br
                br
                |           All applications will be considered.
                |         
                p
                |         
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
              #officeAdmin.jobTabContent
                h3 Office Administration
                |       
                p
                  b Role Summary:
                  |           
                  br
                  br
                  |           During this internship the successful candidate will be in charge of keeping the office running smoothly. It requires an organised individual with excellent communication skills who is able to multi-task, delegate and prioritise, whilst managing the whole office environment. They must be able to work in a fast paced environment, keep track of daily activities, understand administrative systems and make sure they are used properly.
                  |           
                  br
                  br
                  |           
                  b Responsibilities:
                ul
                  li(type='square') Prioritising important office tasks, and making sure they get done first.
                  |              
                  li(type='square') Recommending changes in office practices and procedures to improve processes.
                  |              
                  li(type='square') Partner with HR to maintain office policies as necessary
                  |              
                  li(type='square') Organize and schedule meetings and appointments
                  |              
                  li(type='square') Provide general support to visitors
                  |              
                  li(type='square')
                    | Serve as the point person for maintenance, mailing, shopping, supplies, equipment, bills, and errands
                |           
                br
                |           
                b Requirements:
                |           
                br
                br
                |           No professional experience is required.
                |           
                br
                br
                |           The ideal candidate should have (but it&rsquo;s not essential): Knowledge of office management systems and procedures; Excellent time management skills and ability to multi-task and prioritise work; Attention to detail and problem solving skills; Excellent written and verbal communication skills; Strong organisational and planning skills;
                |           
                br
                br
                |           All applications will be considered.
                |        
                p
                |        
                .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-8.col-xs-offset-2.noHoverUnderline
                  a.noHoverUnderline(href='contactUs')
                    button.center-block.applyBtn Apply Now
                // col-lg-4
              // jobTabContent
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
    script.
      function openJob(evt, jobTitle) {
      var i, jobTabContent, tablinks;
      jobTabContent = document.getElementsByClassName("jobTabContent");
      for (i = 0; i < jobTabContent.length; i++) {
      jobTabContent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(jobTitle).style.display = "block";
      evt.currentTarget.className += " active";
      }
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
