extends ../../../layouts/default


block intro
	.page-intro: .container
		h1.page-title Living


	nav#main-menu
				ul.nav-bar
					li.nav-button-Accomodation
						a(href='#') Accomodation
					li.nav-button-Work
						a(href='#') Work
					li.nav-button-Education
						a(href='#') Education
					li.nav-button-Health
						a(href='#') Health
					li.nav-button-Law
						a(href='#') Law
					li.nav-button-Finance
						a(href='#') Finance