extends ../../../layouts/default

include ../../../mixins/post

block intro
	.page-intro: .container
		
		h1.page-title=data.tag ? data.tag.name : 'News'
		if country
			if user && (user.isJournalist || user.isAdmin)
				a(href='/me/create/post') create New
			hr
		else
block content
	.page-content: .container.blog
		.row
			div(class= data.tags.length || !data.posts.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.tag && !data.tag
					h3 Invalid tag.
				else
					if data.posts && data.posts.length
						if data.searchWord
							h5.text-muted The 
								!= data.posts.length + " latest results for your search "
								!=data.searchWord + '" :' 

						.post-cards.row(itemscope itemtype="https://schema.org/Blog")
							each post in data.posts
								+post(post)
					else
						if data.searchWord	
							h3.text-muted No result found for your search "
								!=data.searchWord + '".' 
						else if country
							h3.text-muted There are no Posts yet.
						else
			if data.tags.length
				.col-md-2
					form().comment-form.mt-5
						input(id="search", name='search', placeholder="Search...").searchNew
						input(type='submit', value='').btn.search-news

				.col-md-2
					if data.tags.length
						h5.text-muted Filter by tag
						ul.list-unstyled.tags-list
							li: a(href='/News', class=!data.tags ? 'active' : false) All
							each tag in data.tags
								li: a(href='/news/' + tag.key, class=data.tag && data.tag.id == tag.id ? 'active' : false).list-group-item= tag.name