extends ../../../layouts/default

include ../../../mixins/post

block intro
	.page-intro: .container
		h1.page-title=data.category ? data.category.name : 'News'

		
			
block content
	.page-content: .container.blog
		.row
			div(class= data.categories.length || !data.posts.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.category && !data.category
					h3 Invalid Category.
				else
					if data.posts.length
						.post-cards.row(itemscope itemtype="http://schema.org/Blog")
							each post in data.posts
								+post(post)
					
			if data.categories.length
				.col-md-2
					if data.categories.length
						h5.text-muted Filter by tag
						ul.list-unstyled.tags-list
							li: a(href='/News', class=!data.categories ? 'active' : false) All
							each tag in data.categories
								li: a(href='/blog/' + tag.key, class=data.category && data.category.id == tag.id ? 'active' : false).list-group-item= tag.name
	
			
			nav#main-menu
				ul.nav-bar
					li.nav-button-Business
						a(href='#') Business
					li.nav-button-Politics
						a(href='#') Politics
					li.nav-button-Science
						a(href='#') Science
					li.nav-button-Health
						a(href='#') Health
					li.nav-button-Sports
						a(href='#') Sports
					li.nav-button-Entertainment
						a(href='#') Entertainment
		