extends ../../../layouts/default

block content
	.wrapper
		.col-lg-9
			.container
				h1.pageHeading Other Things to Do
			// container
			.container
				.row
					.col-lg-12
						.row
							.col-lg-11.col-lg-offset-1.listsWrapper
								.col-lg-4.col-md-4.col-sm-3.noPadding
									img.listsImg(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg')
								// col-lg-4
								.col-lg-8.col-md-8.col-sm-9
									.row
										h2.listsHeading Name
									// row
									.row
										p
											| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
									// row
									.row
										.col-lg-9.col-md-9.col-sm-9
											p
												span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
												|  Address Line 1, Address Line 2, Address Line 3
										// col-lg-9
									// row
									.row(style='')
										.col-lg-3.col-md-3.col-sm-3
											p.noPaddingMargin
												span.fa.fa-phone.listsContactIcon(aria-hidden='true')
												|  567893129
										// col-lg-3
										.col-lg-4.col-md-4.col-sm-4
											p.noPaddingMargin
												span.fa.fa-link.listsContactIcon(aria-hidden='true')
												a.noTextBlue(href='#', target='_blank') Visit Website
										// col-lg-4
										.col-lg-5.col-md-5.col-sm-5
											p.noPaddingMargin
												span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
												|  Mon-Fri, 9am-18pm
										// col-lg-5
									// row
								// col-lg-8
							// col-lg-11
						// row
						br
						.row
							.col-lg-11.col-lg-offset-1.listsWrapper
								.col-lg-4.col-md-4.col-sm-3.noPadding
									img.listsImg(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg')
								// col-lg-4
								.col-lg-8.col-md-8.col-sm-9
									.row
										h2.listsHeading Name
									// row
									.row
										p
											| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
									// row
									.row
										.col-lg-9.col-md-9.col-sm-9
											p
												span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
												|  Address Line 1, Address Line 2, Address Line 3
										// col-lg-9
									// row
									.row(style='')
										.col-lg-3.col-md-3.col-sm-3
											p.noPaddingMargin
												span.fa.fa-phone.listsContactIcon(aria-hidden='true')
												|  567893129
										// col-lg-3
										.col-lg-4.col-md-4.col-sm-4
											p.noPaddingMargin
												span.fa.fa-link.listsContactIcon(aria-hidden='true')
												a.noTextBlue(href='#', target='_blank') Visit Website
										// col-lg-4
										.col-lg-5.col-md-5.col-sm-5
											p.noPaddingMargin
												span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
												|  Mon-Fri, 9am-18pm
										// col-lg-5
									// row
								// col-lg-8
							// col-lg-11
						// row
						br
						.row
							.col-lg-11.col-lg-offset-1.listsWrapper
								.col-lg-4.col-md-4.col-sm-3.noPadding
									img.listsImg(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg')
								// col-lg-4
								.col-lg-8.col-md-8.col-sm-9
									.row
										h2.listsHeading Name
									// row
									.row
										p
											| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
									// row
									.row
										.col-lg-9.col-md-9.col-sm-9
											p
												span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
												|  Address Line 1, Address Line 2, Address Line 3
										// col-lg-9
									// row
									.row(style='')
										.col-lg-3.col-md-3.col-sm-3
											p.noPaddingMargin
												span.fa.fa-phone.listsContactIcon(aria-hidden='true')
												|  567893129
										// col-lg-3
										.col-lg-4.col-md-4.col-sm-4
											p.noPaddingMargin
												span.fa.fa-link.listsContactIcon(aria-hidden='true')
												a.noTextBlue(href='#', target='_blank') Visit Website
										//// row
								// col-lg-8
							// col-lg-11
						// row
					// col-lg-12
				// row
			// container
		// col-lg-9
		.container
			.row
				.col-lg-2.col-lg-offset-1(style='background-color:blue')
					| AD
				// col-lg-2
			// row
		// container
	// wrapper
