extends ../../../layouts/default

block content
	head
		script(src='https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js')
		script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
	.wrapper
		.col-md-10.col-sm-12.col-xs-12
			.container
				h1.pageHeading Other Things to Do
			// container
			.main-container(style='padding:0 !important; margin:0 !important')
				.row.masonry-container(style='padding:0 !important; margin:0 !important')
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Blanchardstown Shopping Centre
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| If you are looking for a place to do all your shopping in one go, Blanchardstown is the place to head for. Shops range from cut-price “Tommy’s Wonderland” to exclusive BT2 and cater for the whole family. Services ranging from hairdressers to a medical center are available and even grocery shopping at a competitive price is possible.
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Jervis Centre
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| The Jervis Centre is a redeveloped site in the middle of Dublin, preserving some old architecture but looking thoroughly modern on the inside. Most shops are located around a central courtyard, covered with a glass dome.
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Liffey Valley Shopping Centre
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| The Liffey Valley Shopping Centre in West Dublin is amongst the largest shopping centres in Ireland, part of a sprawling development in the Quarryvale area. Conveniently situated right next to the junction of the M50 and the N4 and providing ample free parking it is a popular shopping destination.
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
					.col-md-6.col-sm-6.col-xs-12.item
						.thumbnail
							img(src='http://www.wyckhampoint.ie/images/large/Dundrum-Shopping-Centre-inside.jpg', alt='')
							.caption
								h3 Name
								p
									span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
									|  Address Line 1, Address Line 2, Address Line 3
								p
									span.fa.fa-phone.listsContactIcon(aria-hidden='true')
									|  567893129
								p
									span.fa.fa-link.listsContactIcon(aria-hidden='true')
									a.noTextBlue(href='#', target='_blank') Visit Website
								p
									span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
									|  Mon-Fri, 9am-18pm
								p
									| Lorem ipsum dolor sit amet, mei viris congue dissentias in, ius no unum saperet minimum. Pro in ullum paulo sententiae. Ei assum utinam scriptorem vim, augue consulatu ei per, est tempor abhorreant ea. Mea no viris everti, nam illum corpora partiendo no. Eum te unum dicam voluptaria,
					// /.item
				// /.masonry-container
			// /.main-container
		// /.col-md-10
		.row
			.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
				| AD
			// col-lg-2
		// row
	
	script.
		(function( $ ) {
			var $container = $('.masonry-container');
			$container.imagesLoaded( function () {
				$container.masonry({
					columnWidth: '.item',
					itemSelector: '.item'
				});
			});
			//Reinitialize masonry inside each panel after the relative tab link is clicked -
			$('a[data-toggle=tab]').each(function () {
				var $this = $(this);
				$this.on('shown.bs.tab', function () {
					$container.imagesLoaded( function () {
						$container.masonry({
							columnWidth: '.item',
							itemSelector: '.item'
						});
					});
				}); //end shown
			});  //end each
		})(jQuery);
	style.
		.main-container {
			padding: 40px 15px;
		}
		.thumbnail{
			border: 4px solid  #0f9e6d;
		}
