extends ../../../layouts/default

block content
	.wrapper
		.col-lg-10
			.container(style='margin-top:40px')
				.col-lg-9.col-md-8.col-sm-9
					h1.culture.tagHeading
						i.fa.fa-tag(aria-hidden='true')
						|  Culture
						.row
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p(style="")
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
						// row
						.row
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
						// row
						.row
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
							.col-lg-6.col-md-6.col-sm-6
								img.headline4Img(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
								.col-lg-11.col-md-11.col-sm-11.noPaddingMargin
									h3.headline4Title
										a(href='article.html') Title
									p
										| Lorem ipsum dolor sit amet, usu at equidem vituperatoribus. Lorem ipsum dolor sit amet, usu at equidem vituperatoribus.....
									p.headline4Tag
										i.fa.fa-clock-o(aria-hidden='true')
										|  11 August 2017
								// col-lg-11
							// col-lg-6
						// row
						.clear
						#page(aria-label='...')
							ul.pagination
								li.page-item.disabled
									a.page-link Previous
								li.page-item.active
									a.page-link(href='#') 1
								li.page-item
									a.page-link(href='#') 2
								li.page-item
									a.page-link(href='#') 3
								li.page-item
									a.page-link(href='#') Next
						// page
				// col-lg-9
				.col-lg-3.col-md-4.col-sm-8.col-xs-12.noPaddingMargin(style='margin-top:140px !important;')
					.row.noPaddingMargin
						.col-lg-12.noPaddingMargin.TagsWrapper
							.innerTags
								a(href='tags.html')
									.cultureBackground.tagBlock
										h5.tagName Culture
								a(href='tags.html')
									.lifestyleBackground.tagBlock
										h5.tagName Lifestyle
								a(href='tags.html')
									.entertainmentBackground.tagBlock
										h5.tagName Entertainment
								a(href='tags.html')
									.otherBackground.tagBlock
										h5.tagName Other
								a(href='tags.html')
									.other2Background.tagBlock
										h5.tagName Tag
								a(href='tags.html')
									.other3Background.tagBlock
										h5.tagName Tag
								a(href='tags.html')
									.other4Background.tagBlock
										h5.tagName Tag
								a(href='tags.html')
									.other5Background.tagBlock
										h5.tagName Tag
							// innerTags
						// col-lg-12
					// row
					br
					.articlePaddingBottom.greyBackground
						.row.topPicks
							h3.topPicksHeading Top Picks
						// row
					// articlePaddingBottom
					.greyBackground
						.row.articlePaddingBottom
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.noPaddingMargin
								img.topPicksImg2(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
							// col-lg-4
							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								h3.headline5Title
									a(href='article.html') Title Title Title Title Title
								p.headline5Tag.culture
									i.fa.fa-tag(aria-hidden='true')
									a(href='#')  Culture
							// col-lg-8
						// row
						.row.articlePaddingBottom
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.noPaddingMargin
								img.topPicksImg2(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
							// col-lg-4
							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								h3.headline5Title
									a(href='article.html') Title
								p.headline5Tag.entertainment
									i.fa.fa-tag(aria-hidden='true')
									a(href='#')  Entertainment
							// col-lg-8
						// row
						.row.articlePaddingBottom
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.noPaddingMargin
								img.topPicksImg2(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
							// col-lg-4
							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								h3.headline5Title
									a(href='article.html') Title
								p.headline5Tag.lifestyle
									i.fa.fa-tag(aria-hidden='true')
									a(href='#')  Lifestyle
							// col-lg-8
						// row
						.row.articlePaddingBottom
							.col-lg-4.col-md-4.col-sm-4.col-xs-4.noPaddingMargin
								img.topPicksImg2(src='http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/01/News-Apps-Header.jpg')
							// col-lg-4
							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								h3.headline5Title
									a(href='article.html') Title
								p.headline5Tag.other
									i.fa.fa-tag(aria-hidden='true')
									a(href='#')  Other
							// col-lg-8
						// row
					// greyBackground
				// col-lg-3
			// container
		// col-lg-10
		.container
			.row
				.col-lg-2.col-md-2.col-sm-2(style='background-color:blue')
					| AD
				// col-lg-2
			// row
		// container
	// wrapper
