extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Health Services
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/health-services.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | The Government, the Minister for Health and Children and the Department of Health and Children are at the head of health service provision in Ireland. The Department&rsquo;s primary role is to support the Minister in formulating and evaluating policies for the health services. The Department also has a role in the strategic planning of health services in consultation with the Health Service Executive (HSE), the voluntary sector, other government departments and other interests.
            // col-lg-10
          // row
          br
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 What is the Health Service Executive (HSE)?
              |            
              |             
              p
                | The HSE consists of nine sections (called Directorates) but the main ones from a user point of view are:
                br
              ul
                li(type='square')
                  | Primary, Continuing and Community Care (PCCC): responsible for GP and community based health and personal social services. Includes services for older people, children, disability services, etc.
                |                
                li(type='square')
                  | National Hospitals Office: responsible for the acute public hospitals in Ireland.
                |                
                li(type='square')
                  | Population Health: involved in health promotion and protection of the health of various groups.
              |    
              |             
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 How is the Health Service Executive (HSE) organised?
              |            
              |             
              p
                | While the HSE has overall responsibility for the delivery of public health services, the main delivery point for health services in your area is through the network of Local Health Offices and local health centres. There is anetwork of 32 Local Health Offices located around Ireland.
                br
                br
                |             Your Local Health Office is the entry point to community health and personal social services. The wide range of services that are provided through Local Health Offices and from health centres include general practitioner services, public health nursing, child health service, community welfare, chiropody, ophthalmic, speech therapy, social work, addiction counselling and treatment, physiotherapy, occupational therapy, psychiatric services and home help.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
