extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Health System
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/health-system.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Health system and personal social services in Ireland are delivered by the Health Service Executive, through a network of Local Health Offices, health centres and clinics
                br
                br
                |            The following is a brief description of the four Health Service Executive Administrative Areas. None of the Administrative Areas have their own websites yet: each Health Service Executive Administrative Area is responsible for the provision of the health and social system in its area. They provide many of the services directly and they arrange for the provision of other services by health professionals, private health service providers, voluntary hospitals and voluntary/community organisations.
            // col-lg-10
          // row
          br
          |     
          |        
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Health Service Executive Administrative Areas
              |            
              |             
              p
                b Health Service Executive &ndash; Dublin Mid-Leinster:
                |  Dublin city south of the River Liffey, south Dublin county, Wicklow, Kildare, Longford, Westmeath, Laois, Offally
                |             
                br
                br
                |             
                b Health Service Executive &ndash; Dublin North East:
                |  Dublin City north of the River Liffey, the community of Fingal county, Louth, Meath, Cavan, Monaghan
                |             
                br
                br
                |             
                b Health Service Executive &ndash; West:
                |  Limerick, Clare, Tipperary (North Riding), Galway, Mayo, Roscommon, Donegal, Sligo, Leitrim
                |             
                br
                br
                |             
                b Health Service Executive &ndash; South:
                |  Carlow, Kilkenny, Tipperary (South Riding) Waterford, Wexford, Cork, Kerry
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Health and personal social System
              |            
              |             
              p
                | Nationally, responsibility for the provision of health and personal social services lies with;
                br
              ul
                li(type='square')
                  | National Hospitals Office (NHO) who provide public hospital and ambulance services
                |                
                li(type='square') Primary, Community and Continuing Care who provide care in the community
                |                
                li(type='square') Population Health who promote and protect the health of the population.
              |             
              |             All of the services provided by the National Hospitals Office and the Primary, Community and Continuing Care are delivered through the four HSE Administrative regions set out above.
              |             
              br
              br
              |             The main function of a Health Service Executive Administrative Area is to provide or arrange for the provision of health, community care and personal social services to the people in its area.
              |             
              br
              br
              |             Health services can be broadly defined as those services that are concerned with the   
              |             
              br
              |             
              ul
                li(type='square') promotion of good health
                |                
                li(type='square')
                  | prevention of illness (for example, food safety services, immunisation and vaccinations services, health screening, infant and child health services)
                |                
                li(type='square')
                  | the diagnosis and treatment of illness (for example, family doctor (GP) services, hospital services)
              |             
              |             Community care and personal social services can be broadly defined as those that are designed to enable people to remain living in their communities, especially when they have difficulties doing so because of illness, disability or age. Examples include home nursing services, home helps, occupational therapy and social work services.
              |             
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Duty of HSE to provide services
              |            
              |             
              p
                | The HSE Area is obliged to provide certain services, e.g., family doctor (GP) and public hospital services. There are other services that they may provide, e.g., home helps and other community care services. A significant part of the HSE Area&rsquo;s overall budget is allocated to those services that are obligatory.
                br
                br
                |             The new Health Strategy recognises that all decisions whether financial or clinical must be based on the best available evidence. Decisions will be based on:
              ul
                li(type='square') Research findings
                |                
                li(type='square') Statistical qualitative or quantitative data
                |                
                li(type='square') Other documented trends and behaviours.
              |             
              |             All HSE Administrative Areas must provide service plans that usually review the previous year&rsquo;s spending and will give a detailed breakdown of how funding provided by the HSE will be spent during the year in question. The Department of Health and Children will formally set out a statement of national priorities for health, which will then be addressed by the HSE in preparing their individual service plans. The new Health Strategy seeks to strengthen this process by providing for greater accountability and closer monitoring of performance based on specific stated goals given in the service plans.
              |             
              p
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
