extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Health Insurance
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/health-insurance.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Certain rules concerning private health insurance have been altered with the passing of the Health Insurance (Amendment) Act 2001 and the Health Insurance (Amendment) Act 2003. Given that commencement of the provisions of the 2001 Act dealing with &ldquo;lifetime community rating&rdquo; is envisaged towards the end of 2006, it is particularly important for people aged 35 and over who do not currently have private health insurance and who wish to join to be aware of the changes. The commencement of regulations providing for &ldquo;lifetime community rating&rdquo; will follow in the first part of 2007.
            // col-lg-10
          // row
          br
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Loadings for late entrants
              |            
              |             
              p
                | The principle of community rating is being strengthened by moving to the principle of &ldquo;lifetime community rating&rdquo;. Companies will have discretion to apply late entry premium loadings or penalties to people over a prescribed age under certain circumstances. Regulations will be made by the Government dealing with the circumstances in which such loadings may be applied.
                br
                br
                |             Companies will be able to disclose information concerning an insured person&rsquo;s previous cover for the purpose of calculating any liability for late entry premiums. This disclosure will be limited to information about membership, it will not include information about health status or medical records.The Minister for Health and Children said that, based on actuarial advice, such maximum loadings will range from 10% between the ages of 35 and 44 to 80% at age 65 and over.
                |             
                br
                br
                |             The late entry loadings will not apply to people who have health insurance cover when this legislation comes into effect or those who take out cover before a prescribed age (approximately age 30 and over) and maintain it. However, they could apply to people who wish to take out a higher level of cover than they currently have, but the loading will be restricted to the difference between the two levels of cover.
                |             
                br
                br
                |             The upper age limit for reduced premiums has been raised from 21 to 23 for those in full-time education.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
