extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading 3rd Level Education University &ndash; Colleges
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/level-education.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | At present, many organisations in Ireland are entitled to award or validate qualifications in the further and higher education sectors. Further education and training is between post-primary level and higher education. Higher education and training in Ireland is provided mainly in universities and Colleges of Technology or equivalent organisations.
            // col-lg-10
          // row
          br
          |     
          |        
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 The present system
              |            
              |             
              p
                b Universities:
                |  The existing state-supported universities all award their own degrees and other awards.
                |             
                br
                br
                |             
                b Institutes of Technology:
                |  The Dublin Institute of Technology also makes its own awards. The other institutes of technology give degrees, diplomas and certificates, which are validated by either the Higher Education and Training Awards Council (HETAC) or the Further Education and Training Awards Council (FETAC).
                |             
                br
                br
                |             
                b Other colleges:
                |  The other state-supported colleges generally give awards that are validated by HETAC or FETAC.
                |             
                br
                br
                |             
                b Private colleges:
                |  The private colleges make awards, some of which are validated by foreign universities and some of which are validated by HETAC or the FETAC. Some of their awards are not validated by any outside body.
                |             
                br
                br
                |             The new system of recognition of third-level qualifications provided for in the Qualifications (Education and Training) Act 1999 is now in place. Three new bodies were established in 2001. They are:
                |             
                br
              ul
                li(type='square') the National Qualifications Authority of Ireland (NQAI)
                |                
                li(type='square') the Further Education and Training Awards Council (FETAC)
                |                
                li(type='square') the Higher Education and Training Awards Council (HETAC)
              |             
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 National Qualifications Authority of Ireland&lt;
              |            
              |             
              p
                | The main objectives of the National Qualifications Authority of Ireland (NQAI) are:
                br
              ul
                li(type='square')
                  | The establishment and maintenance of a framework for the development, recognition and award of qualifications based on standards of knowledge, skill or competence to be acquired by learners, regardless of where they were acquired
                |                
                li(type='square')
                  | The establishment and promotion of the maintenance  and improvement of the standard of awards of the Further Education and Training Awards Council, the Higher Education and Training Awards Council and the Dublin Institute of Technology
                |                
                li(type='square')
                  | The promotion and facilitation of access, transfer and progression throughout the span of education and training provision
              |             
              br
              |             The NQAI is responsible for establishing and maintaining the National Framework of Qualifications, establishing procedures for the councils and deciding on procedures to be implemented by the education providers in relation to access, transfer and progression. It is also the Irish centre for the recognition of foreign qualifications, known as Qualifications Recognition &ndash; Ireland and has developed the International Qualifications Database.
              |             
              p
            // col-lg-10
          // row
          br
          |     
          |      
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 The Awards Councils
              |            
              |             
              p
                | The two awarding bodies &ndash; the Further Education and Training Awards Council and the Higher Education and Training Awards Council &ndash; are broadly similar to the former National Council for Vocational Awards (NCVA) and the National Council for Educational Awards (NCEA), respectively, but with a wider remit. (The NCEA, the NCVA and Teastas no longer exist.)
                br
                br
                |  
                |             These bodies are the certification bodies for all of the education and training in the state other than that in primary and post-primary education and in the universities and the Dublin Institute of Technology.
                |             
                br
                br
                |             Both awards councils work within the ambit of the NQAI. The principal functions of the councils are:
                |             
                br
                br
              ul
                li(type='square') The establishment of policies and criteria for the making of awards and
                |                
                li(type='square') The validation of programmes in further or higher education and training and
                |                
                li(type='square')
                  | The setting of standards of knowledge, skill or competence which must be acquired by learners, before an award may be made.
              |             
              br
              |             The general approach is that each council validates the programmes of the providers of further or higher education and training, subject to the setting of certain conditions. One of these conditions is that, where a programme has been validated, a provider must implement the procedures for access, transfer and progression that will be set out by the qualifications authority. There will also be mechanisms put in place to provide assurance as to the quality of the programmes. Non-traditional programmes may be validated if they meet the required standards.
              |             
              br
              br
              |             There is a provision in the Qualifications (Education and Training) Act 1999 to allow for the delegation of authority from HETAC to institutes of technology to make higher education and training awards. The institutes may look for such delegation and, in fact, some are in the process of doing this already. This would mean that, if they got such a delegation, they would be in the same position as the DIT is at present.
              |             
              br
              br
              |             There is a similar facility within FETAC. This council may delegate to F&Aacute;S, CERT or Teagasc in respect of further education and training awards if they look for such delegation.
              |             
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Learners
              |            
              |             
              p
                | The Qualifications (Education and Training) Act 1999 does not distinguish between education and training nor between students who are full-time and those who are in employment and availing of training. &ldquo;Learners&rdquo; is the term used in the Act for all students and workers who are participating in education and training or who want to participate in education and training.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Transfer and progression
              |            
              |             
              p
                | All providers of education and training need to inform learners of the transfer and progression routes that are available for them if they undertake a particular course. The transfer and progression routes themselves will be streamlined and co-ordinated so it should be easier for learners to take advantage of the various levels of qualifications.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Validation of individual learning
              |            
              |             
              p
                | Individual learners may also approach the awarding councils directly to seek certification or recognition for their existing knowledge, skill or competence. It will be a matter for the awarding councils themselves to decide how this prior learning and prior experience can be assessed and they may look for help and advice from the providers of education and training in making this assessment.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Protection for learners
              |            
              |             
              p
                | There are specific provisions for the protection of learners where a provider operates programmes of education and training on a commercial and profit-making basis. Such programmes will not be recognised by the award councils unless there are provisions in place to ensure that the provider can provide an alternative place in another institution, or has a reserve fund or is adequately insured.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3.marginLeft20px Where to apply:
              |           
              |             
              .main-container.noPaddingMargin
                .row.masonry-container
                  .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                    .thumbnail
                      img(src='http://babylonradio.com/wp-content/uploads/2016/03/nfoq.jpg')
                      |                      
                      .row.greenBackground
                        h3.padding5pxWhite National Qualifications Authority of Ireland
                      |                      
                      |                     
                      .caption.row
                        p
                          span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                          |  5th Floor Jervis House, Jervis Street, Dublin 1, Ireland
                        |                       
                        p
                          span.fa.fa-phone.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 8871500
                        |                       
                        p
                          span.fa.fa-fax.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 8871595
                        |                       
                        p
                          span.fa.fa-link.listsContactIcon(aria-hidden='true')
                          a(href='www.nqai.ie', target='_blank')  Homepage
                        |                       
                        p
                          span.fa.fa-envelope-o.listsContactIcon(aria-hidden='true')
                          |  info@nqai.ie
                  // /.item
                  .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                    .thumbnail
                      img(src='http://babylonradio.com/wp-content/uploads/2016/03/fetac.jpg')
                      |                    
                      .row.greenBackground
                        h3.padding5pxWhite Further Education and Training Awards Council
                      |                   
                      |                   
                      .caption.row
                        p
                          span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                          |  East Point Plaza, East Point Business Park, Dublin 3, Ireland
                        |                     
                        p
                          span.fa.fa-phone.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 8659500
                        |                     
                        p
                          span.fa.fa-fax.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 8650067
                        |                     
                        p
                          span.fa.fa-link.listsContactIcon(aria-hidden='true')
                          a(href='www.fetac.ie', target='_blank')  Homepage
                        |                     
                        p
                          span.fa.fa-envelope-o.listsContactIcon(aria-hidden='true')
                          |  information@fetac.ie
                  // /.item
                  .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                    .thumbnail
                      img(src='http://babylonradio.com/wp-content/uploads/2016/03/hetac.jpg')
                      |                   
                      .row.greenBackground
                        h3.padding5pxWhite Higher Education and Training Awards Council (HETAC)
                      |                   
                      |                   
                      .caption.row
                        p
                          span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                          |  26-27 Denzille Lane, Dublin 2, Ireland
                        |                      
                        p
                          span.fa.fa-phone.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 6314567
                        |                      
                        p
                          span.fa.fa-fax.listsContactIcon(aria-hidden='true')
                          |  +353 (0)1 6314577
                        |                      
                        p
                          span.fa.fa-link.listsContactIcon(aria-hidden='true')
                          a(href='www.hetac.ie', target='_blank')  Homepage
                        |                      
                        p
                          span.fa.fa-envelope-o.listsContactIcon(aria-hidden='true')
                          |  info@hetac.ie
                  // /.item
                // masonry-container
              // main-container
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
    script(src='/js/lib/jquery/jquery-1.10.2.min.js')
    script(src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js")
    script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js") 
    script.
      (function( $ ) {
      var $container = $('.masonry-container');
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      //Reinitialize masonry inside each panel after the relative tab link is clicked -
      $('a[data-toggle=tab]').each(function () {
      var $this = $(this);
      $this.on('shown.bs.tab', function () {
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      }); //end shown
      });  //end each
      })(jQuery);
