extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Come to Study
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/come-to-study.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
              ul
                li(type='square') Ireland has one of the best education systems in Europe.
                |            
                li(type='square')
                  | The quality of the Irish education system is a major contributing factor to the rapid rate of economic growth Ireland has experienced over the last few decades.
                |            
                li(type='square')
                  | Irish higher education institutions are widely recognised for excellence in many disciplines.
                |            
                li(type='square')
                  | Ireland is recognised as an international location for high quality scientific research.
                |            
                li(type='square') Ireland is an English speaking country.
                |            
                li(type='square')
                  | Ireland&rsquo;s emerald landscape is among the most enriching reasons to study in Ireland.
                |            
                li(type='square')
                  | Irish people are renowned for their friendliness and hospitality which greatly contributes to the ease with which overseas students adapt to student life in Ireland.
                |            
                li(type='square')
                  | Ireland&rsquo;s landscape provides a rich environment for the many outdoor leisure pursuits for which it is famous.
                |            
                li(type='square')
                  | Ireland has a rich cultural heritage with its own distinctive language (Gaelic) music, culture and sports.
                |            
                li(type='square') Ireland is a dynamic, lively and modern country.
                |            
                li(type='square')
                  | Ireland has a young vibrant population, with 40% of the population under the age of 25, Ireland is one of the most exciting places in the world to be a student.
                |            
                li(type='square') Ireland is a safe country to study in.
                |            
                li(type='square') Ireland is a highly developed democracy with a modern economy.
                |            
                li(type='square')
                  | The number of international students visiting Ireland is increasing each year, students from all over the world are taking advantage of the higher education standard in Ireland coupled with the unique cultural experience.
              |            
              p
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
