extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Diplomas Recognition
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/recognition-of-diplomas.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Some EU countries require diplomas, titles, certificates or other special qualifications as a condition for access to certain salaried and self-employed occupations. It can be difficult to have your own training and skills fully recognised.
                br
                br
                |            
                a(href='http://www.qqi.ie/Pages/PageNotFoundError.aspx?requestUrl=http://www.qqi.ie/Pages/Recognition-of-Foreign-Qualifications-.aspx', target='_blank')
                  | The EU has therefore set up systems for recognising diplomas and training that enable you to make full use of your training and skills in another EU country.
                |  The basic principle is that if you are qualified to exercise a profession in your home country, you are qualified to exercise the same profession in any other EU country.
                |            
                br
                br
                |            A general system of Diplomas recognition that is applicable to most regulated professions has been put in place across the EU. So, if you wish to work in a profession (as a teacher, lawyer, engineer or psychologist, for example) that is regulated in the country of employment, you must apply for recognition of your qualifications in that country. The authorities have four months in which to reply. If they consider that your training is significantly different in terms of duration or content from that given in the host country, you may be asked to obtain either additional professional experience completing your training, or to take a training course or to take an aptitude test.
                |            
                br
                br
                |            If you are a doctor, a general nurse, a dentist, a midwife, a vet, a pharmacist or an architect, your national qualifications are in principle recognised automatically.
                |            
                br
                br
                |            If your profession is not regulated in the country in which you wish to work, no recognition of your qualifications is required.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
