extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Language
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/languages.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Ireland has become an increasingly popular location for English Language training, attracting students of all ages and nationalities. There are over 115 English language training schools in Ireland today with over 150,000 people visiting Ireland annually to follow language programmes.
                br
                br
                |            A large number of year round programmes now exist catering to widely diverse needs, interests and abilities and ranging in duration from one week to a full academic year. Business executives, for example, can have courses to provide them with the type of vocabulary required in their particular roles. English language training can also be combined with sporting activities such as fishing, golf or tennis. Language schools generally provide a full package of tuition, accommodation and extra-curricular activities for their clients.
                |            
                br
                br
                |            Most schools also offer preparation programmes for the major English language examinations such as the Test of Interactive English (TIE) an Irish EFL exam developed by a group of Irish EL professionals under the aegis of the Advisory Council for English Language Schools, TOEFL, IELTS, Cambridge ESOL, and Trinity College London.
                |            
                br
                br
                |            The quality assurance body for English language teaching in Ireland is the Advisory Council for English Language Schools (ACELS). ACELS, operating under the aegis of the Irish Department of Education and Science, administers an inspection/recognition scheme leading to recognition by the Department.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
