extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Libraries
          |          
          |           
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/libraries.jpg')
            // col-lg-10
          // row
          br
          br
          |           
          |       
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/libraries.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  .row
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      h3 Name Name Name Name Name
                    |                        
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3(style='padding-top:15px')
                      span.fa.fa-wheelchair.listsContactIcon(aria-hidden='true')
                      |                          
                      span.fa.fa-deaf.listsContactIcon(aria-hidden='true')
                      |                          
                      span.fa.fa-low-vision.listsContactIcon(aria-hidden='true')
                  |                    
                  |                    
                  |                    
                  |                     
                  .col-lg-7.col-md-7.col-sm-7.col-xs-7
                    p
                      span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                      |  Address Line 1, Address Line 2, Address Line 3
                      |                    
                      br
                      span.fa.fa-phone.listsContactIcon(aria-hidden='true')
                      |  567893129
                      |                    
                      br
                      span.fa.fa-envelope-o.listsContactIcon(aria-hidden='true')
                      |  john.doe@gmail.com
                      |                    
                      br
                      span.fa.fa-bus.listsContactIcon(aria-hidden='true')
                      |  20A, 20B, 27, 27A, 27B, 29A
                      |                    
                      br
                      span.fa.fa-train.listsContactIcon(aria-hidden='true')
                      |  Dart Connolly Station 
                      |                    
                      br
                      span.fa.fa-subway.listsContactIcon(aria-hidden='true')
                      |  Luas Connolly Station
                  |  
                  |                    
                  .col-lg-5.col-md-5.col-sm-5.col-xs-5
                    p
                      span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
                      |  Opening hours:
                      |                    
                      br
                      | Mon 9am-12am
                      |                    
                      br
                      | Tues 9am-12am
                      |                    
                      br
                      | Wed 9am-12am
                      |                    
                      br
                      | Thurs 9am-12am
                      |                    
                      br
                      | Fri 9am-12am
                      |                    
                      br
                      | Sat 9am-12am
                      |                    
                      br
                      | Sun 9am-12am
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
          br
          |     
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/libraries.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  .row
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      h3 Name Name Name Name Name
                    |                        
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3(style='padding-top:15px')
                      span.fa.fa-wheelchair.listsContactIcon(aria-hidden='true')
                      |                          
                      span.fa.fa-deaf.listsContactIcon(aria-hidden='true')
                      |                          
                      span.fa.fa-low-vision.listsContactIcon(aria-hidden='true')
                  |                    
                  |                    
                  |                    
                  |                     
                  .col-lg-7.col-md-7.col-sm-7.col-xs-7
                    p
                      span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                      |  Address Line 1, Address Line 2, Address Line 3
                      |                    
                      br
                      span.fa.fa-phone.listsContactIcon(aria-hidden='true')
                      |  567893129
                      |                    
                      br
                      span.fa.fa-envelope-o.listsContactIcon(aria-hidden='true')
                      |  john.doe@gmail.com
                      |                    
                      br
                      span.fa.fa-bus.listsContactIcon(aria-hidden='true')
                      |  20A, 20B, 27, 27A, 27B, 29A
                      |                    
                      br
                      span.fa.fa-train.listsContactIcon(aria-hidden='true')
                      |  Dart Connolly Station 
                      |                    
                      br
                      span.fa.fa-subway.listsContactIcon(aria-hidden='true')
                      |  Luas Connolly Station
                  |  
                  |                    
                  .col-lg-5.col-md-5.col-sm-5.col-xs-5
                    p
                      span.fa.fa-clock-o.listsContactIcon(aria-hidden='true')
                      |  Opening hours:
                      |                    
                      br
                      | Mon 9am-12am
                      |                    
                      br
                      | Tues 9am-12am
                      |                    
                      br
                      | Wed 9am-12am
                      |                    
                      br
                      | Thurs 9am-12am
                      |                    
                      br
                      | Fri 9am-12am
                      |                    
                      br
                      | Sat 9am-12am
                      |                    
                      br
                      | Sun 9am-12am
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
