extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Primary and Post-primary Education
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/preschools.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Although children are not obliged to attend school until the age of six, 65% of four year olds and most five year olds are enrolled in the infant classes in primary schools in Ireland. Primary schools operate an eight-year programme, consisting of two kindergarten years (Junior and Senior Infants), followed by classes 1-6.
                br
                br
                |            The primary education system emphasises a child-centred approach and is based on the belief that high quality education enables children to realise their potential as individuals and to live their lives to the fullest capacity appropriate to their particular stages of development.
                |            
                br
                br
                |            The primary curriculum provides for an extensive learning experience and promotes a rich variety of approaches to teaching and learning. The curriculum is divided into the following key areas:
                |            
                br
              ul
                li(type='square') Languages
                |            
                li(type='square') Mathematics
                |            
                li(type='square') Social, environmental and scientific education
                |            
                li(type='square') Arts education (including visual arts, music and drama)
                |            
                li(type='square') Physical education
                |            
                li(type='square') Social, personal and health education
              |            
              |            There are no formal examinations at the end of the primary school cycle. The school year runs from September until the end of June with holidays at Easter and Christmas.
              |            
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Types of schools
              |            
              p
                | The Irish primary education sector consists of state-funded primary schools, special schools and private primary schools. State funded schools include religious schools, non-denominational schools, multi-denominational schools and Gaelscoileanna.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Choosing a school
              |            
              p
                | You should be able to send your child to the school of your choice. However, when it comes to enrolling your child, you may find that there is little or no choice in the area in which you live. Each school operates an admissions policy which they must make available on request.
                br
                br
                |            State-funded primary schools tend to give priority to children living in the immediate area, but problems can arise if their classes are already full and they have a waiting list. Multi-denominational schools, non-denominational schools and Gaelscoileanna each decide their own admissions policy.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 How to apply
              |            
              p
                | Apply directly to the school of your choice. Ask for their admissions policy and check whether you need to register your child&rsquo;s name on a waiting list.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Second Level Education in Ireland
              |            
              p
                | Secondary education in Ireland aims to build on the foundation of primary education to provide a comprehensive, high quality learning environment to enable all students to live full lives and to realise their potential as individuals and citizens.
                br
                br
                |            The secondary-level education sector comprises secondary, vocational, community and comprehensive schools. All of these schools provide the Certificate courses prescribed by the Department of Education and Science, enter their students for the same national examinations and are subject to inspection by the Department.
                |            
                br
              ul
                li(type='square')
                  | Secondary schools are privately owned and managed. The majority are conducted by religious communities and the remainder by Boards of Governors or by individuals. Traditionally, these schools provided an academic type of education but in recent years have tended towards the provision also of technical and practical subjects.
                  br
                  | Over thirty Irish secondary schools provide boarding facilities and many of these have a strong tradition of enrolling students from abroad. In addition, a number of English language schools and private agencies assist overseas students at second level with application formalities and with finding home-stay or other accommodation.
                |            
                li(type='square')
                  | Vocational schools and community colleges  are administered by vocational education committees which are statutory bodies set up under the Vocational Education Act, 1930, as amended. Initially, the main thrust of these schools was directed towards the development of manual skills and preparation of young people for trades. Nowadays, however, the full range of second-level courses is available. Vocational schools are also the main providers of adult education and community education courses.
                |            
                li(type='square')
                  | Comprehensive schools combine academic and vocational subjects in a wide curriculum. They are managed by a board of management representative of the diocesan religious authority, the Vocational Education Committee of the area and the Minister for Education and Science.
                |            
                li(type='square')
                  | Community schools are managed by Boards of Management representative of local interests. These schools offer a broad curriculum embracing both practical and academic subjects. They also provide facilities for adult education and community development projects. These schools are entirely funded by the State through the Department of Education and Science.
              |            
              br
              |            Second level education in Ireland generally starts at the age of twelve and consists of a three year Junior cycle followed by a two or three year senior cycle. The Junior Certificate Examination is taken at the end of junior cycle. The senior cycle has been significantly restructured in recent years and now offers a &ldquo;Transition Year&rdquo; which provides an opportunity for students to experience a wide range of educational inputs, life skills and work experience at a remove from the examination focus.
              |            
              br
              br
              |            Students must take a minimum of five subjects including the three core subjects of English, Irish and Mathematics. Students can then choose their other subjects from a broad range including arts, languages, science and other applied subjects (e.g. mechanical drawing, woodwork etc.). Students entering the Irish education system after 11 years of age are not obliged to take Irish language examinations.
              |            
              br
              br
              |            At the end of the senior cycle the Leaving Certificate Examination is taken. Students normally sit for this examination at seventeen or eighteen years of age.
              |            
              br
              br
              |            Students may choose one of three Leaving Certificate Programmes:
              |            
              p
            // col-lg-10
          // row
          .main-container.noPaddingMargin
            .row.masonry-container
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Leaving Certificate Programme
                  // row
                  .caption.row
                    p
                      | This is the most widely taken programme in which students must take at least five subjects, including Irish (with the exception of those entering the system after 11 years of age). Those intending to pursue higher education at a third-level institute normally takes this examination and access to third-level courses depends on results obtained.
              // /.item
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Leaving Certificate Vocational Programme (LCVP)
                  |                      
                  |                      
                  .caption.row
                    p
                      | First introduced in 1989 is similar to the established programme detailed above, however there is an added vocational content and a concentration on technical subjects. Pupils taking the LCVP take five Leaving Certificate subjects (including two vocational subjects); a modern European Language and three link modules on Enterprise Education, Preparation for Work and Work Experience.
              // /.item
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Leaving Certificate Applied
                  |            
                  |                      
                  .caption.row
                    p
                      | The primary objective of this person-centred programme is to prepare participants for adult and working life.While certification in the LCA does not qualify for direct entry to third-level courses, students who successfully complete the programme are able to proceed to many Post Leaving Certificate courses. The framework of the LCA consists of a number of modules grouped under three general headings: General Education; Vocational Education and Vocational Preparation.
              // /.item
            // /.masonry-container
          // /.main-container
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
    script(src='/js/lib/jquery/jquery-1.10.2.min.js')
    script.
      (function( $ ) {
      var $container = $('.masonry-container');
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      //Reinitialize masonry inside each panel after the relative tab link is clicked -
      $('a[data-toggle=tab]').each(function () {
      var $this = $(this);
      $this.on('shown.bs.tab', function () {
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      }); //end shown
      });  //end each
      })(jQuery);
