extends ../../../../layouts/default

block content
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Universities-Colleges
          |          
          |           
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/universitiescolleges.jpg')
            // col-lg-10
          // row
          br
          br
          |           
          |           
          .row
            .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
              p
                | Dublin City University &ndash; Its strength lies in its commitment to the intellectual, cultural, and personal development of our students and staff, and we are proud of our achievements in delivering on excellence in teaching, learning and research; our research programmes, both basic and applied, are well established and internationally based.
            // col-lg-8
          // row
          br
          |       
          |       
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/universitiescolleges.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  h3 Name
                  |                    
                  p
                    | Lorem ipsum dolor sit amet, torquatos temporibus et sea. Pro tation meliore iudicabit in, eirmod epicuri eu mei, ne duo stet inani facilis. Mei te nulla electram comprehensam. Ullum dolor ne vis, ad est torquatos disputationi. An natum nonumy eirmod nam, altera consequat philosophia sed an. Id posse consequat has, duo ne elitr officiis accommodare. No simul audire sed, et dolore intellegam eam, et est vitae tritani adversarium.
                  |                    
                  p
                    span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                    |  Address Line 1, Address Line 2, Address Line 3
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
          br
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/universitiescolleges.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  h3 Name
                  |                
                  p
                    | Lorem ipsum dolor sit amet, torquatos temporibus et sea. Pro tation meliore iudicabit in, eirmod epicuri eu mei, ne duo stet inani facilis. Mei te nulla electram comprehensam. Ullum dolor ne vis, ad est torquatos disputationi. An natum nonumy eirmod nam, altera consequat philosophia sed an. Id posse consequat has, duo ne elitr officiis accommodare. No simul audire sed, et dolore intellegam eam, et est vitae tritani adversarium.
                  |                
                  p
                    span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                    |  Address Line 1, Address Line 2, Address Line 3
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
          br
          |      
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/universitiescolleges.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  h3 Name
                  |                 
                  p
                    | Lorem ipsum dolor sit amet, torquatos temporibus et sea. Pro tation meliore iudicabit in, eirmod epicuri eu mei, ne duo stet inani facilis. Mei te nulla electram comprehensam. Ullum dolor ne vis, ad est torquatos disputationi. An natum nonumy eirmod nam, altera consequat philosophia sed an. Id posse consequat has, duo ne elitr officiis accommodare. No simul audire sed, et dolore intellegam eam, et est vitae tritani adversarium.
                  |                 
                  p
                    span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                    |  Address Line 1, Address Line 2, Address Line 3
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
          br
          |   
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.accomodationsRow.noPaddingMargin
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.accomodationsImgWrapper.noPaddingMargin
                  img.accomodationsImg(src='http://babylonradio.com/wp-content/uploads/2015/05/universitiescolleges.jpg')
                // col-lg-4
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                  h3 Name
                  |            
                  p
                    | Lorem ipsum dolor sit amet, torquatos temporibus et sea. Pro tation meliore iudicabit in, eirmod epicuri eu mei, ne duo stet inani facilis. Mei te nulla electram comprehensam. Ullum dolor ne vis, ad est torquatos disputationi. An natum nonumy eirmod nam, altera consequat philosophia sed an. Id posse consequat has, duo ne elitr officiis accommodare. No simul audire sed, et dolore intellegam eam, et est vitae tritani adversarium.
                  |            
                  p
                    span.fa.fa-map-marker.listsContactIcon(aria-hidden='true')
                    |  Address Line 1, Address Line 2, Address Line 3
                // col-lg-8
              // col-lg-12
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
