extends ../../../layouts/default
include ../../../mixins/country

block flash-messages
	//- !!! intentionally left blank
block intro
	.page-intro: .container
		h1.page-title Pays
		p.lead Explorez les pays de Babylone.. 
block content
	.container
		+flash-messages(messages)
		if countries.length
			.members-group
				ul.list-unstyled.members-list
					li.grid-sizer
					each country in countries
						+country(country)
		
		if  !countries.length
			h3.text-muted Il n'y a pas encore de pays.

block js
	script(src='/js/lib/bootstrap/transition.js')
	script(src='/js/lib/bootstrap/tooltip.js')
	script(src="/js/lib/masonry/masonry.pkgd.min.js")
	script(src="/js/lib/masonry/imagesloaded.pkgd.min.js")
	script(src="/js/views/members.js")