extends ../../../layouts/default


block intro
	.page-intro: .container
		h1.page-title Culture


		nav#main-menu
				ul.nav-bar
					li.nav-button-History
						a(href='#') History
					li.nav-button-Arts
						a(href='#') Arts
					li.nav-button-Food and drinks
						a(href='#') Food and drinks
					li.nav-button-Music
						a(href='#') Music
					