extends ../../../layouts/default


//- INCLUDES
include ../../../mixins/post

include ../../../mixins/advertisement

//- INTRO
block intro
		if country
			if country.image
				div(style={'background-image':'url('+country.image.secure_url+')'}).home-image
				h1.home-image-title= 'Bienvenue sur Babylon  ' + country.name
			else
		else
		.page-intro: .container-sm
			hr
			if country
				p.text-center= 'Profitez de votre expérience en ' + country.name 			

//- JS
block js

	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')
