//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading About
			ul
				li: a(href='/about') More about Babylon
				li: a(href='/about') Contact us

		.col-sm-8
			.row
				.col-xs-4
					h5: a(href='/members').footer-heading Members
				.col-xs-4
					h5.footer-heading Something

	.row.footer-copyright
		p Copyright &copy; 2017 Babylon. Powered by <a href='https://keystonejs.com' rel='external'>KeystoneJS</a>.
		p Forked from <a href="https://github.com/JedWatson/sydjs-site" rel='external'>Sydjs</a>.
