//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-3
			h5.footer-heading About
			ul
				li: a(href='/about') Who we are
				li: a(href='/about') Contact us
		.col-sm-3
			h5.footer-heading Jobs
			ul
				li: a(href='#') Developer
				li: a(href='#') Journalist
		.col-sm-3
			h5: a(href='#').footer-heading Something
			ul
				li: a(href='#') Some link
				li: a(href='#') Some link
		.col-sm-3
			h5: a(href='/members').footer-heading Members

	.row.footer-copyright
		p Copyright &copy; 2017 Babylon. Powered by <a href='https://keystonejs.com' rel='external'>KeystoneJS</a>.
		p Forked from <a href="https://github.com/JedWatson/sydjs-site" rel='external'>Sydjs</a>.
