#socialMenu.col-md-4.col-md-offset-4
    #icons
        a(href='https://www.facebook.com/babylon.webradio', target='_blank'): img(src='https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/facebook-128.png', style='margin-left:10%')
        a(href='https://twitter.com/babylonwebradio', target='_blank'): img(src='https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/twitter-128.png')
        a(href='https://www.youtube.com/channel/UC5_syjoTYzykQy6nTYsP4cA', target='_blank'): img(src='https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/youtube-128.png')
        a(href='https://www.instagram.com/babylonradiodublin/', target='_blank'): img(src='https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/instagram-128.png')
        a(href='https://plus.google.com/116185748792004516977', target='_blank'): img(src='https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/google-plus-128.png')
