body
  #mainHeader.jumbotron
    .container
      .row
        #playbuttons.col-lg-4
          i.fa.fa-play-circle(aria-hidden='true')
        .col-lg-4
          h1#headerName BABYLON
        .col-lg-3
          #flags.col-lg-11.col-lg-offset-1
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png')
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png')
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png')
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/255px-Flag_of_Portugal.svg.png')
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg')
            a(href='#'): img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Flag_of_Poland_%28normative%29.svg/1200px-Flag_of_Poland_%28normative%29.svg.png')
        #memberbuttons.col-lg-1
          i.fa.fa-user-circle(aria-hidden='true')
  nav#mainNav.navbar.navbar-default
    .container-fluid
      // container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header.col-lg-2
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Babylon
        span.fa.fa-play-circle(aria-hidden='true')
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          // col-md-7
          li(style='margin-left:3px')
            a(href='/news') News
          include ../nav/placestogo
          include ../nav/thingstodo
          include ../nav/planyourtrip
          include ../nav/living
          include ../nav/classified
          li
            a(href='#') About Us
        .nav.navbar-nav.col-lg-2
          #custom-search-input
            .input-group
              input.form-control.input-lg(type='text', placeholder='Search')
              span.input-group-btn
                button.btn.btn-info.btn-lg(type='button')
                  i.glyphicon.glyphicon-search
        #memberplayNav.nav.navbar-nav
          span.fa.fa-user-circle(aria-hidden='true')
      // /.navbar-collapse
    // /.container-fluid
  script.
    $(".dropdown-menu").css('height', $(window).height()-$('#mainHeader').height()-$('#mainNav').height());
    $(document).ready(function(){
    $(window).scroll(function(){
    if ($(window).scrollTop() > 70){
    $( "nav" ).addClass( "stick" );
    $( ".navbar-brand" ).css('display','block');
    $( "#memberplayNav span" ).css('display','block');
    $( ".navbar-header .fa-play-circle" ).css('display','block');
    $(".mega-dropdown-menu").css("height",$(window).height()-$('#mainNav').height()-20);
    }
    if ($(window).scrollTop() < 70){
    $( "nav" ).removeClass( "stick" );
    $( ".navbar-brand" ).css('display','none');
    $( "#memberplayNav span" ).css('display','none');
    $( ".navbar-header .fa-play-circle" ).css('display','none');
    $(".mega-dropdown-menu").css("height",$(window).height()-$('#mainHeader').height()-$('#mainNav').height()-20);
    }
    });
    });
    $(".navbar-nav a").click(function() {
    if($(this).parent().hasClass('active')){
    $(this).parent().removeClass('active');
    }else{
    $(this).parent().addClass('active').siblings().removeClass('active');
    }
    });
    jQuery(document).on('click', '.mega-dropdown', function(e) {
    e.stopPropagation()
    });
