//- HEADER
header(id='header', role='banner', class=(section == 'home' ? 'header--home' : 'header--page'))
	nav.navbar(role='navigation')
		//- Site logo + site nav trigger button (on mobile)
		.navbar-header
			a(href='/', title='Back to Home').site-branding
				//- include /public/images/logo.svg
				img(src='/images/letter-b-icon-png-0.png', alt='Babylon logo', id='squared')
			//- User avatar

			//-if user
				 //-a(href='/me').user.hidden-md.hidden-lg
					 //-img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || '/images/avatar.png'), width=27).img-circle
			//- Patty
				a#site-nav-toggle(href='javascript:;').site-nav-toggle
					.patty
					
		#site-nav
			nav(role='navigation')
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/news") News
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/place_to_go") Places to Go
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/livin") Living
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/culture") Culture
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/classifieds") Classifieds
				ul.navbar-nav.navbar-nav--left.menu-item
					a(href="/about") About Us
				ul.navbar-nav.navbar-nav--right
					if user
						li: a(href='/me').user
								img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
								=user.name.first
						li: a(href='/signout')
							span.entypo.entypo-large.entypo-logout
					else
						li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
						li: a(href='/join', data-from=page.path).js-auth-trigger Join
//-.header-placeholder
