//- HEADER
header(id='header', role='banner', class=(section == 'home' ? 'header--home' : 'header--page'))
	nav.navbar(role='navigation'): .container
		//- Site logo + site nav trigger button (on mobile)
		.navbar-header
			a(href='/', title='Back to Home').site-branding
				//- include /public/images/logo.svg
				img(src='/images/letter-b-icon-png-0.png', alt='Babylon logo', id='squared')
			//- User avatar

			//-if user
				 //-a(href='/me').user.hidden-md.hidden-lg
					 //-img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || '/images/avatar.png'), width=27).img-circle
			//- Patty
				a#site-nav-toggle(href='javascript:;').site-nav-toggle
					.patty
					
		#site-nav
			nav(role='navigation')
				ul.navbar-nav.navbar-nav--left
					div#play ▶
				ul
					form(method='post', autocomplete='off', novalidate)
						input(id="searchInput" list='countriesList', name='query', placeholder="Search a country..", required).searcher 
						datalist(id='countriesList')
							if countries && countries.length
								each country in countries
									option(value=country.name) 
						input(type='submit', value='Search').btn.submit-search
				ul.navbar-nav.navbar-nav--right.listlang                  
					li
						a#navSpa.language(href='/lang/es')
							img#imgNavSpa.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/es.png', alt='')                      
					li
						a#navIta.language(href='/lang/it')
							img#imgNavIta.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/it.png', alt='')  
					li
						a#navFra.language(href='/lang/fr')
							img#imgNavFra.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/fr.png', alt='')   
					li
						a#navEng.language(href='/lang/en')
							img#imgNavEng.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/en.png', alt='')
					li
						a#navPol.language(href='/lang/pl')
							img#imgNavPol.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/pl.png', alt='')
					li
						a#navPor.language(href='/lang/pt')
							img#imgNavPor.img-thumbnail.icon-small(src='http://babylonradio.com/wp-content/plugins/wpglobus/flags/pt.png', alt='')
					if user
						li: a(href='/me').user
								img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
								=user.name.first
						li: a(href='/signout')
							span.entypo.entypo-large.entypo-logout
					else
						li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
						li: a(href='/join', data-from=page.path).js-auth-trigger Join
					//-li: a(href="/news") News
					//-li: a(href="/places_to_go") Places to Go
					//-li: a(href="/things_to_do") Things to Do
					//-li: a(href="/plan_your_trip") Plan your trip
					//-li: a(href="/classifieds") Classifieds
					//-li: a(href="/living") Living
					//-li: a(href="/events") Events
					//-li: a(href="/about") About Us
		.megamenu
			.ddown
				button.dropbtn Living
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag.name
							a(href="") Link article
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Places to go
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Things to Do
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Plan your trip
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h4 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 4
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h4 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 5
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h4 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 6
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3

			a(href="/news") News
			a(href="/classifieds") Classifieds
			a(href="/events") Events
			a(href="/about") About Us

					
//-.header-placeholder

script(src='/js/lib/awesomplete.js')
script(src='/js/lib/jquery/jquery-1.10.2.min.js')

script.
		$( document ).ready(function() {
			var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

			if(isSafari){
				var input = document.getElementById("searchInput");
				
				var awesomplete = new Awesomplete(input, {
					minChars: 0,
				});
				awesomplete.list = [];
				$('#countriesList option').each(function(){
					awesomplete._list.push(this.value);
				});
				document.getElementById('searchInput').className = "searcher-safari";

			}
		});