//- HEADER
header(id='header', role='banner', class=(section == 'home' ? 'header--home' : 'header--page'))
	nav.navbar(role='navigation'): .container
		//- Site logo + site nav trigger button (on mobile)
		.navbar-header
			a(href='/', title='Back to Home').site-branding
				//- include /public/images/logo.svg
				img(src='/images/letter-b-icon-png-0.png', alt='Babylon logo', id='squared')
			//- User avatar

			//-if user
				 //-a(href='/me').user.hidden-md.hidden-lg
					 //-img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || '/images/avatar.png'), width=27).img-circle
			//- Patty
				a#site-nav-toggle(href='javascript:;').site-nav-toggle
					.patty
					
		#site-nav
			nav(role='navigation')
				ul.navbar-nav.navbar-nav--left
					div#play ▶
				ul
					form(method='post', autocomplete='off', novalidate)
						input(id="searchInput" list='countriesList', name='query', placeholder="Search a country..", required).searcher 
						datalist(id='countriesList')
							if countries && countries.length
								each country in countries
									option(value=country.name) 
						input(type='submit', value='Search').btn.submit-search
				ul.navbar-nav.navbar-nav--right
					li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								img#imgNavSel.img-thumbnail.icon-small(src='', alt'')
								| &nbsp;&nbsp;
								span#lanNavSel 
								|  
								span.caret
							|                     
							ul.dropdown-menu(role='menu')
								li
									a#navSpa.language(href='/lang/es')
										img#imgNavSpa.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavSpa Español
								|                         
								li
									a#navIta.language(href='/lang/it')
										img#imgNavIta.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavIta Italiano
								|         &#x9;&#x9;&#x9;    
								li
									a#navFra.language(href='/lang/fr')
										img#imgNavFra.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavFra Francais
								|         &#x9;&#x9;&#x9;    
								li
									a#navEng.language(href='/lang/en')
										img#imgNavEng.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavEng English
								li
									a#navPol.language(href='/lang/pl')
										img#imgNavPol.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavPol Polski
								li
									a#navPor.language(href='/lang/pt')
										img#imgNavPor.img-thumbnail.icon-small(src='', alt='...')
										| &nbsp;&nbsp;
										span#lanNavPor Português
					if user
					if user
						li: a(href='/me').user
								img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
								=user.name.first
						li: a(href='/signout')
							span.entypo.entypo-large.entypo-logout
					else
						li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
						li: a(href='/join', data-from=page.path).js-auth-trigger Join
					//-li: a(href="/news") News
					//-li: a(href="/places_to_go") Places to Go
					//-li: a(href="/things_to_do") Things to Do
					//-li: a(href="/plan_your_trip") Plan your trip
					//-li: a(href="/classifieds") Classifieds
					//-li: a(href="/living") Living
					//-li: a(href="/events") Events
					//-li: a(href="/about") About Us
		.megamenu
			.ddown
				button.dropbtn Living
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag.name
							a(href="") Link article
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Places to go
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Things to Do
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h3 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h3 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
			.ddown
				button.dropbtn Plan your trip
					i.fa.fa-caret-down
				.dropdown-content
					.row
						.column
							h4 Tag 1
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 4
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h4 Tag 2
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 5
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
						.column
							h4 Tag 3
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3
							h4 Tag 6
							a(href="") Link 1
							a(href="") Link 2
							a(href="") Link 3

			a(href="/news") News
			a(href="/classifieds") Classifieds
			a(href="/events") Events
			a(href="/about") About Us

					
//-.header-placeholder

script(src='/js/lib/awesomplete.js')
script(src='/js/lib/jquery/jquery-1.10.2.min.js')

script.
		$( document ).ready(function() {
			var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

			if(isSafari){
				var input = document.getElementById("searchInput");
				
				var awesomplete = new Awesomplete(input, {
					minChars: 0,
				});
				awesomplete.list = [];
				$('#countriesList option').each(function(){
					awesomplete._list.push(this.value);
				});
				document.getElementById('searchInput').className = "searcher-safari";

			}
		});
		$(document).ready(function(){
		        var spaImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/es.png";
		    	var engImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/uk.png";
				var itaImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/it.png";
				var fraImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/fr.png";
				var polImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/pl.png";
				var porImgLink = "http://babylonradio.com/wp-content/plugins/wpglobus/flags/pt.png";

				var imgBtnSel = $('#imgBtnSel');
				var imgBtnSpa = $('#imgBtnSpa');
				var imgBtnEng = $('#imgBtnEng');
				var imgBtnIta = $('#imgBtnIta');
				var imgBtnFra = $('#imgBtnFra');
				var imgBtnPol = $('#imgBtnPol');
				var imgBtnPor = $('#imgBtnPor');

				var imgNavSel = $('#imgNavSel');
				var imgNavSpa = $('#imgNavSpa');
				var imgNavEng = $('#imgNavEng');
				var imgNavIta = $('#imgNavIta');
				var imgNavFra = $('#imgNavFra');
				var imgNavPol = $('#imgNavPol');
				var imgNavPor = $('#imgNavPor');

				var spanNavSel = $('#lanNavSel');
				var spanBtnSel = $('#lanBtnSel');

				var currLang = $.cookie("lang");
				if(currLang === 'es'){
					imgNavSel.attr("src",spaImgLink);
					spanNavSel.text("ESP");
					imgBtnSel.attr("src",spaImgLink);
					spanBtnSel.text("ESP");
				}else if(currLang === 'it'){
					imgNavSel.attr("src",itaImgLink);
					spanNavSel.text("ITA");
					imgBtnSel.attr("src",itaImgLink);
					spanBtnSel.text("ITA");
				}else if(currLang === 'fr'){
					imgNavSel.attr("src",fraImgLink);
					spanNavSel.text("FRA");
					imgBtnSel.attr("src",fraImgLink);
					spanBtnSel.text("FRA");
				}else if(currLang === 'pl'){
					imgNavSel.attr("src",polImgLink);
					spanNavSel.text("POL");
					imgBtnSel.attr("src",polImgLink);
					spanBtnSel.text("POL");
				}else if(currLang === 'pt'){
					imgNavSel.attr("src",porImgLink);
					spanNavSel.text("POR");
					imgBtnSel.attr("src",porImgLink);
					spanBtnSel.text("POR");
				}else{
					imgNavSel.attr("src",engImgLink);
					spanNavSel.text("ENG");
					imgBtnSel.attr("src",engImgLink);
					spanBtnSel.text("ENG");
				} 

				imgBtnSpa.attr("src",spaImgLink);
				imgBtnEng.attr("src",engImgLink);
				imgBtnIta.attr("src",itaImgLink);
				imgBtnFra.attr("src",fraImgLink);
				imgBtnPol.attr("src",polImgLink);
				imgBtnPor.attr("src",porImgLink);

				imgNavSpa.attr("src",spaImgLink);
				imgNavEng.attr("src",engImgLink);
				imgNavIta.attr("src",itaImgLink);
				imgNavFra.attr("src",fraImgLink);
				imgNavPol.attr("src",polImgLink);
				imgNavPor.attr("src",porImgLink);

				$( ".language" ).on( "click", function( event ) {
					var currentId = $(this).attr('id');

					if(currentId == "navSpa") {
						imgNavSel.attr("src",spaImgLink);
						spanNavSel.text("ESP");
					} else if (currentId == "navEng") {
						imgNavSel.attr("src",engImgLink);
						spanNavSel.text("ENG");
					} else if (currentId == "navIta") {
						imgNavSel.attr("src",itaImgLink);
						spanNavSel.text("ITA");
					} else if (currentId == "navFra") {
						imgNavSel.attr("src",fraImgLink);
						spanNavSel.text("FRA");
					} else if (currentId == "navPol") {
						imgNavSel.attr("src",polImgLink);
						spanNavSel.text("POL");
					} else if (currentId == "navPor") {
						imgNavSel.attr("src",porImgLink);
						spanNavSel.text("POR");
					}

					if(currentId == "btnIta") {
						imgBtnSel.attr("src",spaImgLink);
						spanBtnSel.text("ESP");
					} else if (currentId == "btnEng") {
						imgBtnSel.attr("src",engImgLink);
						spanBtnSel.text("ENG");
					} else if (currentId == "btnIta") {
						imgBtnSel.attr("src",itaImgLink);
						spanBtnSel.text("ITA");
					} else if (currentId == "btnFra") {
						imgBtnSel.attr("src",fraImgLink);
						spanBtnSel.text("FRA");
					} else if (currentId == "btnPol") {
						imgBtnSel.attr("src",polImgLink);
						spanBtnSel.text("POL");
					} else if (currentId == "btnPor") {
						imgBtnSel.attr("src",porImgLink);
						spanBtnSel.text("POR");
					}
					
				});
		});