//- HEADER
header(id='header', role='banner', class=(section == 'home' ? 'header--home' : 'header--page'))
	nav.navbar(role='navigation'): .container
		//- Site logo + site nav trigger button (on mobile)
		.navbar-header
			a(href='/', title='Back to Home').site-branding
				//- include /public/images/logo.svg
				img(src='/images/letter-b-icon-png-0.png', alt='Babylon logo', id='squared')
			//- User avatar

			//-if user
				 //-a(href='/me').user.hidden-md.hidden-lg
					 //-img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || '/images/avatar.png'), width=27).img-circle
			//- Patty
				a#site-nav-toggle(href='javascript:;').site-nav-toggle
					.patty
					
		#site-nav
			nav(role='navigation')
				ul.navbar-nav.navbar-nav--left
					div#play ▶
				ul
					form(action='search', method='post', autocomplete='off', novalidate)
						input(list='countries', name='query', placeholder="Search a country..").searcher 
						datalist(id='countries')
							option(value='Ireland')
							option(value='Spain')
							option(value='France')
							option(value='Brazil')
						input(type='submit', value='Search').btn.submit-search
				ul.navbar-nav.navbar-nav--right
					if user
						li: a(href='/me').user
								img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
								=user.name.first
						li: a(href='/signout')
							span.entypo.entypo-large.entypo-logout
					else
						li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
						li: a(href='/join', data-from=page.path).js-auth-trigger Join
				.top-menu
					li: a(href="/news") News
					li: a(href="/places_to_go") Places to Go
					li: a(href="/things_to_do") Things to Do
					li: a(href="/plan_your_trip") Plan to trip
					li: a(href="/classifieds") Classifieds
					li: a(href="/living") Living
					li: a(href="/about") About Us
//-.header-placeholder
