//- HEADER
header(id='header', role='banner', class=(section == 'home' ? 'header--home' : 'header--page'))
	nav.navbar(role='navigation'): .container
		//- Site logo + site nav trigger button (on mobile)
		.navbar-header
			a(href='/', title='Back to Home').site-branding
				//- include /public/images/logo.svg
				img(src='/images/letter-b-icon-png-0.png', alt='Babylon logo', id='squared')
			//- User avatar

			//-if user
				 //-a(href='/me').user.hidden-md.hidden-lg
					 //-img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || '/images/avatar.png'), width=27).img-circle
			//- Patty
				a#site-nav-toggle(href='javascript:;').site-nav-toggle
					.patty
					
		#site-nav
			nav(role='navigation')
				ul.navbar-nav.navbar-nav--left
					div#play ▶
				ul
					form(method='post', autocomplete='off', novalidate)
						input(id="searchInput" list='countriesList', name='query', placeholder="Search a country..", required).searcher 
						datalist(id='countriesList')
							if countries && countries.length
								each country in countries
									option(value=country.name) 
						input(type='submit', value='Search').btn.submit-search
				ul.navbar-nav.navbar-nav--right.listlang                  
					li
						a#navSpa.language(href='/lang/es')
							img#imgNavSpa.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png', alt='')                      
					li
						a#navIta.language(href='/lang/it')
							img#imgNavIta.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg', alt='')  
					li
						a#navFra.language(href='/lang/fr')
							img#imgNavFra.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png', alt='')   
					li
						a#navEng.language(href='/lang/en')
							img#imgNavEng.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png', alt='')
					li
						a#navPol.language(href='/lang/pl')
							img#imgNavPol.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/1200px-Flag_of_Poland.svg.png', alt='')
					li
						a#navPor.language(href='/lang/pt')
							img#imgNavPor.img-thumbnail.icon-small(src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/255px-Flag_of_Portugal.svg.png', alt='')
					if user
						li: a(href='/me').user
								img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
								=user.name.first
						li: a(href='/signout')
							span.entypo.entypo-large.entypo-logout
					else
						li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
						li: a(href='/join', data-from=page.path).js-auth-trigger Join

		.megamenu
			.ddown
				button.dropbtn
					span#living Living &nbsp;
					i.fa.fa-caret-down
				.dropdown-content
					.row
						if livingTags && livingTags.length
							each tag in livingTags
								-var tagID = JSON.stringify(tag._id)
								.column
									h3 
										= tag.name
									hr.hr-megamenu
									if allArticles && allArticles.length
										each article in allArticles
											-var articleTag = JSON.stringify(article.tags)
											if articleTag === tagID
												a(href='/living/' + tag.key + '/' + article.slug)
													= article.title
			.ddown
				button.dropbtn 
					span#placesToGo Places to go &nbsp;
					i.fa.fa-caret-down
				.dropdown-content
					.row
						if placesToGoTags && placesToGoTags.length
							each tag in placesToGoTags
								-var tagID = JSON.stringify(tag._id)
								.column
									h3 
										= tag.name
									hr.hr-megamenu
									if allArticles && allArticles.length
										each article in allArticles
											-var articleTag = JSON.stringify(article.tags)
											if articleTag === tagID
												a(href='/places_to_go/' + tag.key + '/' + article.slug)
													= article.title
			.ddown
				button.dropbtn 
					span#thingsToDo Things to Do &nbsp;
					i.fa.fa-caret-down
				.dropdown-content
					.row
						if thingsToDoTags && thingsToDoTags.length
							each tag in thingsToDoTags
								-var tagID = JSON.stringify(tag._id)
								.column
									h3 
										= tag.name
									hr.hr-megamenu
									if allArticles && allArticles.length
										each article in allArticles
											-var articleTag = JSON.stringify(article.tags)
											if articleTag === tagID
												a(href='/things_to_do/' + tag.key + '/' + article.slug)
													= article.title
			.ddown
				button.dropbtn 
					span#planYourTrip Plan your trip &nbsp;
					i.fa.fa-caret-down
				.dropdown-content
					.row
						if planYourTripTags && planYourTripTags.length
							each tag in planYourTripTags
								-var tagID = JSON.stringify(tag._id)
								.column
									h3 
										= tag.name
									hr.hr-megamenu
									if allArticles && allArticles.length
										each article in allArticles
											-var articleTag = JSON.stringify(article.tags)
											if articleTag === tagID
												a(href='/plan_your_trip/' + tag.key + '/' + article.slug)
													= article.title

			a(href="/news")#news News
			a(href="/classifieds")#classifieds Classifieds
			a(href="/events")#events Events
			a(href="/about")#aboutus About Us

					
//-.header-placeholder

script(src='/js/lib/awesomplete.js')
script(src='/js/lib/jquery/jquery-1.10.2.min.js')

script.
		$( document ).ready(function() {
			//- FIND A BEtTER WAY TO DO THAT  ?? 
			if($.cookie("lang") === '59e8823077df3618184b7a92'){ // FR
				$('#living').text('Y vivre');
				$('#placesToGo').text('A visiter');
				$('#thingsToDo').text('A faire');
				$('#planYourTrip').text('Planifiez votre voyage');
				$('#news').text('Nouvelles');
				$('#classifieds').text('Annonces');
				$('#events').text('Événements');
				$('#about').text('À propos de');
			}else if($.cookie("lang") === '59e8823877df3618184b7a93'){ // ESP
				$('#living').text('Vida en Irlanda');
				$('#placesToGo').text('Visitando');
				$('#thingsToDo').text('Hacer');
				$('#planYourTrip').text('Planifica tu viaje');
				$('#news').text('Noticias');
				$('#classifieds').text('Clasificados');
				$('#events').text('Eventos');
				$('#about').text('Acerca de');


			}
			var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

			if(isSafari){
				var input = document.getElementById("searchInput");
				
				var awesomplete = new Awesomplete(input, {
					minChars: 0,
				});
				awesomplete.list = [];
				$('#countriesList option').each(function(){
					awesomplete._list.push(this.value);
				});
				document.getElementById('searchInput').className = "searcher-safari";

			}
		});