//- SIDE NAV BAR LEFT
div
    span.open-slide
        a#btn-open(href='#')
            svg(width='30', height='30')
                path(d='M0,5 30,5', stroke='#333', stroke-width='5')
                path(d='M0,14 30,14', stroke='#333', stroke-width='5')
                path(d='M0,23 30,23', stroke='#333', stroke-width='5')
    #toggle.toggle
        a#btn-close.btn-close(href='#') ×
        ul
            form(action='/search', method='post', autocomplete='off', novalidate)
                input(id="searchInput" list='countries', name='query', placeholder="Search a country..", required)
                datalist(id='countries')
                    if countries && countries.length
                        each country in countries
                            option(value=country.name) 
                input(type='submit', value='Search')
        a.menu-item(href="/news") News
        button.accordion Places to Go
        #p1.panel
            ul
                h4 Tag 1
                    //-render articles for tag 1
                li 
                    a link to article 1
                li
                    a link 2
                li
                    a link 3
                li
                    a link 4
        button.accordion Things to Do
        #p2.panel 
            ul
                h4 Tag 1
                li 
                    a link 1
                li
                    a link 2
                li
                    a link 3
                li
                    a link 4

                h4 Tag 2
                li 
                    a link 1
                li
                    a link 2
                li
                    a link 3
                li
                    a link 4
 
        button.accordion Plan your trip
        #p3.panel 
            ul
                h4 Tag 1
                li 
                    a link 1
                li
                    a link 2
                li
                    a link 3
                li
                    a link 4
        button.accordion Living
        #p4.panel
            ul
                h4 Tag 1
                li 
                    a link 1
                li
                    a link 2
                li
                    a link 3
                li
                    a link 4
        a.menu-item(href="/classifieds") Classifieds
        a.menu-item(href="/events") Events
        a.menu-item(href="/about") About
script.
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }