//- SIDE NAV BAR LEFT
div
    span.open-slide
        a#btn-open(href='#')
            svg(width='30', height='30')
                path(d='M0,5 30,5', stroke='#333', stroke-width='5')
                path(d='M0,14 30,14', stroke='#333', stroke-width='5')
                path(d='M0,23 30,23', stroke='#333', stroke-width='5')
    #toggle.toggle
        a#btn-close.btn-close(href='#') ×
        ul
            form(action='/search', method='post', autocomplete='off', novalidate)
                input(id="searchInput" list='countries', name='query', placeholder="Search a country..", required)
                datalist(id='countries')
                    if countries && countries.length
                        each country in countries
                            option(value=country.name) 
                input(type='submit', value='Search')
        a.menu-item(href="/news") News
        button.accordion Places to Go
        #p1.panel
            ul
                if placesToGoTags && placesToGoTags.length
                    each tag in placesToGoTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/places_to_go/' + tag.key + '/' + article.slug)
                                                = article.title
        button.accordion Things to Do
        #p2.panel 
            ul
                if thingsToDoTags && thingsToDoTags.length
                    each tag in thingsToDoTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/things_to_do/' + tag.key + '/' + article.slug)
                                                = article.title
 
        button.accordion Plan your trip
        #p3.panel 
            ul
                if planYourTripTags && planYourTripTags.length
                    each tag in planYourTripTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/plan_your_trip/' + tag.key + '/' + article.slug)
                                                = article.title
        button.accordion Living
        #p4.panel
            ul
                if livingTags && livingTags.length
                    each tag in livingTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/living/' + tag.key + '/' + article.slug)
                                                = article.title
        a.menu-item(href="/classifieds") Classifieds
        a.menu-item(href="/events") Events
        a.menu-item(href="/about") About
script.
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }