//- SIDE NAV BAR LEFT
div
    span.open-slide
        a#btn-open(href='#')
            svg(width='30', height='30')
                path(d='M0,5 30,5', stroke='#333', stroke-width='5')
                path(d='M0,14 30,14', stroke='#333', stroke-width='5')
                path(d='M0,23 30,23', stroke='#333', stroke-width='5')
    #toggle.toggle
        a#btn-close.btn-close(href='#') ×
        a.menu-item(href="/news") News
        a.menu-item(href="/places_to_go") Places to Go
        a.menu-item(href="/things_to_do") Things to Do
        a.menu-item(href="/plan_your_trip") Plan your trip
        a.menu-item(href="/classifieds") Classifieds
        a.menu-item(href="/about") About
