//- SIDE NAV BAR LEFT
div
    span.open-slide
        a#btn-open(href='#')
            svg(width='30', height='30')
                path(d='M0,5 30,5', stroke='#333', stroke-width='5')
                path(d='M0,14 30,14', stroke='#333', stroke-width='5')
                path(d='M0,23 30,23', stroke='#333', stroke-width='5')
    .sidebar
        ul.sidebar-nav
            li
                a.menu-item(href="/blog") News
            li
                a.menu-item(href="/links") Links
            li
                a.menu-item(href="/tourism") 
            li
                a.menu-item(href="/living") Living
            li
                a.menu-item(href="/culture") Culture
            li
                a.menu-item(href="/classifieds") Classifieds
            li
                a.menu-item(href="/about") About
            li
                a.menu-item(href="/members") Members  
            li
                a.menu-item(href="/contact") Contact
            
    #toggle.toggle
        a#btn-close.btn-close(href='#') ×
        a.menu-item(href="/blog") News
        a.menu-item(href="/links") Links
        a.menu-item(href="/tourism") Tourism
        a.menu-item(href="/living") Living
        a.menu-item(href="/culture") Culture
        a.menu-item(href="/classifieds") Classifieds
        a.menu-item(href="/about") About
        a.menu-item(href="/members") Members
        a.menu-item(href="/contact") Contact
