//- SIDE NAV BAR LEFT
div
    span.open-slide
        a#btn-open(href='#')
            svg(width='30', height='30')
                if locals.section == 'home'
                    path(d='M0,5 30,5', stroke='#E5E5E5', stroke-width='5')
                    path(d='M0,14 30,14', stroke='#E5E5E5', stroke-width='5')
                    path(d='M0,23 30,23', stroke='#E5E5E5', stroke-width='5')
                else
                    path(d='M0,5 30,5', stroke='#333', stroke-width='5')
                    path(d='M0,14 30,14', stroke='#333', stroke-width='5')
                    path(d='M0,23 30,23', stroke='#333', stroke-width='5')
    #toggle.toggle
        a#btn-close.btn-close(href='#') ×
        ul
            form.side-searcher(action='/search', method='post', autocomplete='off', novalidate)
                input(id="searchInput" list='countries', name='query', placeholder="Search a country..", required)
                datalist(id='countries')
                    if countries && countries.length
                        each country in countries
                            option(value=country.name) 
                input.side-searcher-submit(type='submit', value='Search')
        button.accordion#living Living
        #p1.panel
            ul
                if livingTags && livingTags.length
                    each tag in livingTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            hr.hr-megamenu
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/living/' + tag.key + '/' + article.slug)
                                                = article.title
                                                
        button.accordion#placesToGo Places to Go
        #p2.panel
            ul
                if placesToGoTags && placesToGoTags.length
                    each tag in placesToGoTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            hr.hr-megamenu
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/places_to_go/' + tag.key + '/' + article.slug)
                                                = article.title
        button.accordion#thingsToDo Things to Do
        #p3.panel 
            ul
                if thingsToDoTags && thingsToDoTags.length
                    each tag in thingsToDoTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            hr.hr-megamenu
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/things_to_do/' + tag.key + '/' + article.slug)
                                                = article.title
 
        button#planYourTrip.accordion Plan your trip
        #p4.panel 
            ul
                if planYourTripTags && planYourTripTags.length
                    each tag in planYourTripTags
                        -var tagID = JSON.stringify(tag._id)
                            h4
                                = tag.name
                            hr.hr-megamenu
                            if allArticles && allArticles.length
                                each article in allArticles
                                    -var articleTag = JSON.stringify(article.tags)
                                    if articleTag === tagID
                                        li
                                            a(href='/plan_your_trip/' + tag.key + '/' + article.slug)
                                                = article.title
        a.menu-item(href="/news")#news News
        a.menu-item(href="/classifieds")#classifieds Classifieds
        a.menu-item(href="/events")#events Events
        a.menu-item(href="/about")#aboutus About
        
script(src='/js/views/translate-menu-items.js')
script.
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }