li.dropdown.mega-dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Classifieds 
    span.glyphicon.glyphicon-chevron-down
  ul.dropdown-menu.mega-dropdown-menu.row(style='height: 581px;')
    li.col-lg-4.col-lg-offset-1
      ul
        li.dropdown-header Cars
        .row
          .col-lg-6
            img.menuimg(src='http://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202016/Cars/December/CR-Cars-Inline-2017-Acura-ILX-12-16')
        br
        .row
          .col-lg-10.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>
        br
        li.dropdown-header Properties
        .row
          .col-lg-6
            img.menuimg(src='http://iam-estates.com/img/slid3.jpg')
        br
        .row
          .col-lg-10.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>
    li.col-lg-4.col-lg-offset-2
      ul
        li.dropdown-header Jobs
        .row
          .col-lg-6
            img.menuimg(src='http://uptodatejobs.com/wp-content/uploads/2016/03/types-of-jobs.jpg')
        br
        .row
          .col-lg-6.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
          .col-lg-5.col-lg-offset-1.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
        br
        li.dropdown-header Sales
        .row
          .col-lg-6
            img.menuimg(src='https://financesonline.com/uploads/2015/02/Sales.jpg')
        br
        .row
          .col-lg-6.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>
// <li><a href="#">Things to Do</a></li>
// <li><a href="#">Plan Your Trip</a></li>
// <li><a href="#">Classifieds</a></li>
// <li><a href="#">Living</a></li>