li.dropdown.mega-dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Living 
    span.glyphicon.glyphicon-chevron-down
  ul.dropdown-menu.mega-dropdown-menu.row(style='height: 581px;')
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header Health
        .row
          .col-lg-8
            img.menuimg(src='https://d3hjf51r9j54j7.cloudfront.net/wp-content/uploads/sites/5/2015/09/Beacon-Hospital-Exterior.jpg')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='emergency-numbers') Emergency Numbers
            li
              a(href='emergency') Emergency
            li
              a(href='health-agencies') Health Agencies
            li
              a(href='general-practitioners') General Practitioners
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='health-insurance') Health Insurance
            li
              a(href='health-services') Health Services
            li
              a(href='health-system') Health System
            li
              a(href='hospitals') Hospitals
        br
        li.dropdown-header Law
        .row
          .col-lg-8
            img.menuimg(src='http://leap.utah.edu/_images/program-options/Pre-Law.jpg')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header Education
        .row
          .col-lg-8
            img.menuimg(src='https://comeheretome.files.wordpress.com/2010/01/tcd.jpg')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='universities-colleges') Universities-Colleges
            li
              a(href='come-to-study') Come to study
            li
              a(href='diplomas-recognition') Diplomas recognition
            li
              a(href='irish-education-system') Irish education system
            li
              a(href='primary-post-primary-education') Primary and post-primary education
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='librairies') Librairies
            li
              a(href='language') Language
            li
              a(href='3rd-level-education') 3rd level education. University - Colleges
            li
              a(href='pre-school-childcare') Pre-school Childcare
        br
        li.dropdown-header Accomodation
        .row
          .col-lg-8
            img.menuimg(src='http://www.isaacs.ie/de/wp-content/uploads/2013/09/Isaacs-60851.jpg')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='#') How
            li
              a(href='#') Text
            li
              a(href='#') Text
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header Work
        .row
          .col-lg-8
            img.menuimg(src='http://www.faithandwork.ie/hs-fs/hub/309618/file-306934408-jpg/CropedDublinOffices.jpg?t=1385483363000&width=1702&name=CropedDublinOffices.jpg')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='bank-account') Bank Account
            li
              a(href='banks') Banks
            li
              a(href='CV-and-cover-letter') CV and Cover letter
            li
              a(href='recruitment-websites') Recruitment Websites
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='PPS-number') PPS number
            li
              a(href='recruitment-companies') Recruitment Companies
            li
              a(href='FAS-training') FÁS training
            li
              a(href='volunteer-work') Volunteer Work
        br
        li.dropdown-header Finance
        .row
          .col-lg-8
            img.menuimg(src='http://wpb.org/CMSPages/GetAmazonFile.aspx?path=~\wpb_website\media\wpb_header_images\istock_000023265222_large_1.jpg&hash=32b4b6f8774dd82c57ae6b6be6255bacdb2e21ee394942080b0e722317ff073d')
        br
        .row
          .col-lg-5.menulist2
            li
              a(href='#') Tax
            li
              a(href='#') Text
            li
              a(href='#') Text
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text