li.dropdown.mega-dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Places to Go 
    span.glyphicon.glyphicon-chevron-down
  ul.dropdown-menu.mega-dropdown-menu.row(style='height: 581px;')
    li.col-lg-4.col-lg-offset-1
      ul
        li.dropdown-header Cities
        .row
          .col-lg-5
            a(href='city.html')
              table.menuimg(background='http://d5qsyj6vaeh11.cloudfront.net/images/destinations/dublin/dublin-main/ten-attractions/dublin-top-ten-hapenny-bridge-bg.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Dublin
          .col-lg-5.col-lg-offset-1
            a(href='#')
              table.menuimg(background='http://blog.laterooms.com/wp-content/uploads/2015/06/Cobh-Cork.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Cork
        br
        .row
          .col-lg-5
            a(href='#')
              table.menuimg(background='https://www.dan-dooley.ie/images/location-images/17-Car-Hire-Galway.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Galway
          .col-lg-5.col-lg-offset-1
            a(href='#')
              table.menuimg(background='http://d5qsyj6vaeh11.cloudfront.net/images/destinations/backgrounds/d212_b_bg.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Waterford
        br
        .row
          .col-lg-5.menulist
            li
              a(href='#') Dun Loaghaire
            li
              a(href='#') Limerick
            li
              a(href='#') Dundalk
            li
              a(href='#') Dingle
            li
              a(href='#') Kerry
          .col-lg-5.col-lg-offset-1.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
    li.col-lg-4.col-lg-offset-2
      ul
        li.dropdown-header Attraction
        .row
          .col-lg-5
            a(href='#')
              table.menuimg(background='https://www.claytonhotelleopardstown.com/wp-content/uploads/Dublin-Zoo.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Dublin Zoo
          .col-lg-5.col-lg-offset-1
            a(href='attraction.html')
              table.menuimg(background='https://4.bp.blogspot.com/-LNYkTYgz2pk/Vtw1O6m9OPI/AAAAAAAAApc/8ahi23wZ9-U/s1600/6995209237_c03fa463c4_o.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Book of Kells
        br
        .row
          .col-lg-5
            a(href='#')
              table.menuimg(background='https://wildrovertours.com/wp-content/uploads/2015/12/Cliffs-of-Moher-2.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Cliffs of Moher
          .col-lg-5.col-lg-offset-1
            a(href='#')
              table.menuimg(background='https://www.claytonhotelleopardstown.com/wp-content/uploads/Powerscourt.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Powerscourt
        br
        .row
          .col-lg-5.menulist
            li
              a(href='#') Glendalough
            li
              a(href='#') The Ring of Kerry
            li
              a(href='#') Kilmainham Goal
            li
              a(href='#') Bunratty Castle
            li
              a(href='#') Muckross House & Gardens
          .col-lg-5.col-lg-offset-1.menulist
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text
            li
              a(href='#') Text