li.dropdown.mega-dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Plan Your Trip 
    span.glyphicon.glyphicon-chevron-down
  ul.dropdown-menu.mega-dropdown-menu.row(style='height: 581px;')
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header Before Coming
        .row
          .col-lg-8
            img.menuimg(src='http://www.valenscube.com/wp-content/uploads/2016/02/Ireland-landscape1.jpg')
        br
        .row
          .col-lg-10.menulist
            li
              a(href='#') About Ireland
            li
              a(href='#') Customs & Traditions
            li
              a(href='#') Famous Irish People
            li
              a(href='#') Embassies
            li
              a(href='#') FAQ
            li
              a(href='#') Irish Symbols
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header How To Get Here
        .row
          .col-lg-8
            img.menuimg(src='https://media-cdn.tripadvisor.com/media/photo-o/0e/c0/ca/5c/aer-lingus.jpg')
        br
        .row
          .col-lg-10.menulist
            li
              a(href='#') Air Travel
            li
              a(href='#') Bus Services
            li
              a(href='#') Car Rental
            li
              a(href='#') Ferries
            li
              a(href='#') Train Services
            li
              a(href='#') Taxi
    li.col-lg-3.col-lg-offset-1
      ul
        li.dropdown-header Accomodations
        .row
          .col-lg-8
            img.menuimg(src='http://blog.knightfrank.ie/wp-content/uploads/2013/09/Satini-Court-1.jpg')
        br
        .row
          .col-lg-10.menulist
            li
              a(href='#') Apartments
            li
              a(href='#') Hostels
            li
              a(href='#') Hotels
            li
              a(href='#') Guest Houses
            li
              a(href='#') Self Catering
            li
              a(href='#') Townhouses
            li
              a(href='#') Country Homes and Farm Houses