li.dropdown.mega-dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
    | Things to Do 
    span.glyphicon.glyphicon-chevron-down
  ul.dropdown-menu.mega-dropdown-menu.row(style='height: 581px;')
    li.col-lg-4.col-lg-offset-1
      ul
        li.dropdown-header Festivals
        .row
          .col-lg-6
            a(href='festivalparkmuseum.html')
              table.menuimg(background='https://img.rasset.ie/000dc557-614.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading St. Patrick Festival
        br
        .row
          .col-lg-10.menulist2
            li
              a(href='#') Arts & Culture Festival
            li
              a(href='#') Jameson Dublin International Festival
            li
              a(href='#') Music Festival
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>
        br
        li.dropdown-header Parks
        .row
          .col-lg-6
            a(href='#')
              table.menuimg(background='http://static.thousandwonders.net/St.Stephen%27s.Green.original.8362.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading St.Stephen's Park
        br
        .row
          .col-lg-10.menulist2
            li
              a(href='#') Phoenix Park
            li
              a(href='#') Ards Forest Park
            li
              a(href='#') Other Parks
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>
    li.col-lg-4.col-lg-offset-2
      ul
        li.dropdown-header Museums
        .row
          .col-lg-6
            a(href='#')
              table.menuimg(background='http://www.frg.ie/wp-content/uploads/guinness-storehouse.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Guinness Storehouse
        br
        .row
          .col-lg-6.menulist2
            li
              a(href='#') Dublin Writers Museum
            li
              a(href='#') The Old Jameson Distillery
            li
              a(href='#') Arts Galleries and Studios
          .col-lg-5.col-lg-offset-1.menulist2
            li
              a(href='#') National Museum
            li
              a(href='#') Other Musuems
            li
              a(href='#') Text
        br
        li.dropdown-header Shopping
        .row
          .col-lg-6
            a(href='shoppingcentre.html')
              table.menuimg(background='http://www.johnsiskandson.com/sites/default/files/project/191/408-dundrum-town-centre-dublin.jpg')
                tbody
                  tr
                    td(valign='bottom')
                      p.menuimgHeading Dundrum
        br
        .row
          .col-lg-6.menulist2
            li
              a(href='#') Kildare Village
            li
              a(href='#') Other Shopping Centres
            li
              a(href='#') Other Markets
          //
            <div class="col-lg-5 col-lg-offset-1 menulist">
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="#">Text</a></li>
            </div>