//
// Layout
// ==============================


// Base

html {
	.square( 100% );
}
body {
	height: 100%;
	font-weight: @font-weight-base;
}
li{
	//list-style-type: none;
 //margin-left:30px;
}

.ulMargin{
    margin-top: 0;
    margin-left:40px;
}


// Containers
// ------------------------------
.container-xs,
.container-sm,
.container-md {
	.container-fixed();
}
@media (min-width: @screen-sm-min) {
	.container-xs { width: 600px; }
	.container-sm { 
		width: @screen-sm-min - @grid-gutter-width;
		//min-height: 200px !important;
	 }
	.container-md { max-width: @screen-md-min - @grid-gutter-width; }
}
.container{
	width: 100% !important;
}

// App alert
// ------------------------------
#app-alert {
	padding: 8px 0;
	position: relative;
	overflow: hidden;
	z-index: 9;
	background-color: #F9F9F9;
	.box-shadow(0 1px 0 rgba(0,0,0,0.1));
	.dismiss-alert {
		position: absolute;
		left: 20px;
		top: 0;
		line-height: 84px;
		color: @gray-light;
		font-size: 24px;
		&:hover {
			color: @gray;
			text-decoration: none;
		}
	}
	.app-icon {
		img {
			display: block;
			float: left;
			width: 64px;
			height: 64px;
			margin-right: 15px;
		}
	}
	.app-button {
		line-height: 64px;
		padding-right: 15px;
		float: right;
	}
	h5 {
		margin: 12px 0 5px;
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}

	@media (max-width: @screen-sm-max) {
		.row {
			div + div {
				margin-top: 0;
			}
		}
		.app-icon {
			padding-left: 40px;

			img {
				margin-right: 10px;
			}
		}

		.dismiss-alert-xs {
			left: 15px;
			line-height: 64px;
		}

		h5 {
		}

		.app-link {
			line-height: 64px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
}



// Body
// ------------------------------
.site-body {
	background: white;
	min-height: 1500px;
	height: 100%;
    top: 85px;
	//margin-right: 16.666667%; // only for the News panel
    margin-right: 300px;
    overflow: hidden;
	.floor;
	.floor-1;
	padding-bottom: @page-padding;
	padding-top: @page-padding;
}
@media screen and (max-width: 775px) {
	.site-body{
	margin-left: 0px;
	top: 36px;
	}
}
@media screen and (max-width: 992px) {
	.site-body{
	margin-right: 0px;

	}
}




// Footer
// ------------------------------
.site-footer {
	background-color: #333;
	color: whitesmoke;
	padding: 3em 0 0;
	font-size: @font-size-base * 1.1;
	position: relative;
	z-index: 3;
    .row{
        margin-bottom: 20px;
    }
	.footer-heading {
		color: whitesmoke;
	}
	ul, ol {
		.list-unstyled();
	}
	p {
		margin-bottom: 5px;
	}
	a {
		color: whitesmoke;
	}

}
.footer-copyright {
    margin-top: 2em;
    margin-top: 50px;
	padding: 2em @page-padding !important;
	border-top: 1px solid fade(black, 10%);
	text-align: center;
}



// Sticky footer (only on desktop)
// ------------------------------
@footerHeight: 320px;
.site-wrapper.has-sticky-footer {
	position: relative;
	padding-bottom: @footerHeight;
	min-height: 100%;
	background: @body-bg;
	@media (max-width: @screen-xs-max) {
		padding-bottom: 0;
	}
}

.site-footer.site-footer--sticky {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: @footerHeight;
	@media (max-width: @screen-xs-max) {
		position: relative;
		bottom: auto;
		height: auto;
	}
}



// Links
// ------------------------------
.links-list {
	h3 {
		margin: 5px 0 0 0;
	}

	h4 a { color: @text-color; }
	.byline { margin: 0 0 0 0; }

	.link {
		margin: 0;
		font-size: @font-size-base + 2;
	}

	.tags-list {
		margin: 10px 0 0;
		a {
			padding: 2px 10px;
			font-size: @font-size-base - 2;
		}
	}

	.description {
		margin: 10px 0;
	}
}

.tags-list {
	position: relative;
	overflow: hidden;
	li {
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	a {
		display: inline-block;
		padding: 2px 10px;
		border-radius: @border-radius-base;
		background-color: @gray-light;
		color: white;
		font-size: @font-size-base;

		&:hover {
			background-color: @link-color;
			text-decoration: none;
		}
		&.active {
			background-color: @link-color;
		}
	}
}

.links-list + .links-list {
	margin-top: 30px;
}

// SIDE BAR NAV LEFT

.open-slide{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 45px;
    padding: 30px 30px 30px 10px;
	overflow-x:hidden;

}

//Side-Nav Slide in
.toggle{
  height:100%;
  width:0;
  position: fixed;
  top:0;
  left:0;
  background-color:whitesmoke;
  overflow-x:hidden;
  padding-top:100px;
	.menu-item{
    /* margin-top: 20px; */
    padding-left: 64px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* transition: .4s; */
    display: block;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
	}
	a:hover{
    color:grey;
	}
	.btn-close{
	position:absolute;
	right:22px;
	top:65px;
	font-size:36px;
	margin-left:50px;
	text-decoration:none;
	color:#333;
	}
} 

@media screen and (min-width: 776px) {
	.open-slide{display:none}
 	.toggle{display:none;
		a{display:none;}
		.btn-close{display: none;}
 	}
}
// Side-searcher
.side-searcher{
    padding:20px;
    .side-searcher-submit{
        position: absolute;
        color: black;
        margin-left: 17px;
        height: 27px;
        padding: 2px;
        font-size: 0.8em;
        background: transparent;
        border: 1px solid black;
    }
    .side-searcher-submit:hover{
        color: white;
        background: black;
    }
    input#searchInput{
        width: 135px;
        height: 25px;
        float: left;
        /* margin-top: 18px; */
        /* margin-left: 50px; */
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url(../../images/ic_search_black_24dp_2x.png);
        background-size: 22px;
        background-position: 6px 3px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
    }
}

//Accordion
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin-bottom: 0px !important;
}
#p1, #p2, #p3, #p4{
    background-color:#aaaaaa;
}


div.panel.show {
    opacity: 1;
    max-height: 3500px;
    padding: 20px;
    ul{
        margin-top: 0;
        h4{
            font-size: 1.4em;
        }
        li{
            margin-bottom: 16px;
            a{
                color: black;
                text-decoration: none;
            }
            a:hover{
                color:grey;
            }
        }
    }
}

// Page
// ------------------------------

// Secondary page intro
.page-intro {
	padding-bottom: @page-padding;
	text-align: center;
	margin-top: 30px;
	h1 {
		margin-bottom: 0.020em;
 
	}
	.buttons > .btn {
		margin-right: 10px;
	}
	.lead {
		max-width: @screen-sm-min - @grid-gutter-width;
		margin-left: auto;
		margin-right: auto;
	}
}



// Page content
.page-content {
	.floor;
    .floor-1;
    padding: 20px;
}

// Page section
.section {
	padding-bottom: @page-padding * 1.5;
	padding-top: @page-padding * 1.5;
}
.section--featured {
	padding-bottom: @page-padding * 1;
	padding-top: @page-padding * 2.5;
}

// Add space at the top on tiny screens
@media (max-width: @screen-sm-max) {
	.row {
		[class^="col-md"] + [class^="col-md"] {
			margin-top: @page-padding;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.row {
		[class^="col-sm"] + [class^="col-sm"] {
			margin-top: @page-padding;
		}
	}
}



// Misc
// ------------------------------
.back-bar {
	padding-top: 10px;
	padding-bottom: 10px;

	p {
		margin-bottom: 8px;
	}
}
.thumbnail {
	background-color: white;
}



// Animation
// ------------------------------
@-moz-keyframes pulse {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.4); }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-o-keyframes pulse {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.4); }
  100% { -o-transform: scale(1); }
}
@-ms-keyframes pulse {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.4); }
  100% { -ms-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

//menu

#main-menu .nav-bar { 
    display: fixed;
    list-style:none;
    margin-top: 0px;
    padding: 3px;
    text-align: left;
    margin-bottom:8px;
    word-spacing: 50px;
   
 
  background: fade(white, 60%) ;
  color: #fff ;
  font: 15px "Trebuchet MS",Arial,sans-serif ;
  line-height: 25px;
  text-decoration: none ;


    
}

#main-menu .nav-bar ul{
padding: 0px; 
margin: 0px; 
list-style-type:none;
background-color: fade(white, 60%); 

}

#main-menu .nav-bar li { 
    display: inline-block;
    width: 100px;
    height: 40px; 
    margin: 0px; 
    padding: 0px; 
    border-right: px solid black; 
    text-align: center; 
    line-height: 40 px;
}

#main-menu .nav-bar li a {
display: block; 
  text-decoration: none;
  color: black;

  padding-left: 20px;
  text-transform: uppercase;
	text-shadow: 1px 1px 1px #ccc;
    text-align: center ;

   
}


.nav-bar .nav-button-Business a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Politics a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Science a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Health a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Sports a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Entertainment a { background:url("") no-repeat 0px -2px transparent; }

//---Sub Menu ---//
.sub-menu{
	width:100%;
	margin:0px 0px 20px 0px;
}


//------News side right section-------//
@media (max-width: 775px){
.news-panel {
	margin-left:0px;
	top:66px;
}
}
@media (min-width: 775px){
.news-panel{
top: 106px;
}
}
@media (max-width: 992px){
.news-panel {
    position: relative;
    background: whitesmoke;
    height: 200px;
    overflow: hidden;
	padding:20px 0px 0px 20px;
	.text-muted{
		text-align: center;
	}
}
}
@media (min-width: 992px){
.news-panel {
    width: 16.66666667%;
    min-width: 300px;
//position: fixed;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 120px;
    padding: 5px;
    overflow: hidden;
	height: 80%;
}
}

//- Search New
.searchNew {
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
   	width: 130px;
}

.search-news {
	background-color: white;
    background-image: url('../../images/ic_search_black_24dp_2x.png');
    background-size: 22px;
    background-position: 6px 3px;
    background-repeat: no-repeat;
}
//- Home page
.home-image{
		min-height: 500px; 
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}
.home-image-title{
	color: white;
    position: relative;
    top: -250px;
    text-align: center;
}

//-  NEWS PANEL DESIGN

ul.grid {
	padding-top: 2%;
	padding-left: 2%;
	//padding-right: 2%;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    text-align: left
}

.col-6,
.column.half {
    width: 50%
}

.main-featured img {
    width: auto;
    height: auto;
   /* max-width: 100%*/
}

.main-featured .wp-post-image {
    display: block
}


.main-featured .the-date {
    color: #d3dbdf;
    display: block;
    text-transform: uppercase;
    font-size: 11px
}


.featured-grid {
    transform: translate3d(0, 0, 0)
}

.featured-grid .first {
    float: left;
    width: 49.72171%
}

.featured-grid .second {
    float: left;
    width: 50.278293135%;
    margin: -1px -1px -1px 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.featured-grid .item {
    position: relative
}

.featured-grid .small-item {
    float: left;
    padding: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.featured-grid .image-link {
    display: block;
    position: relative;
    overflow: hidden;
    background: #ccc;
    min-height: 386px
}

.featured-grid .small-item .image-link {
    min-height: 192px
}

.featured-grid .wp-post-image {
    transition: opacity .3s ease-in;
    will-change: opacity
}

.featured-grid .item:hover .wp-post-image {
    opacity: .8
}

.featured-grid .image-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.42) 50%, rgba(0, 0, 0, 0.88) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.42) 50%, rgba(0, 0, 0, 0.88) 100%);
    opacity: .92;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    will-change: opacity
}

.featured-grid .small-item .image-link:after {
    height: 70%
}

.featured-grid .caption {
    position: absolute;
    padding: 16px 21px;
    bottom: 0;
    display: block;
    pointer-events: none
}
.caption{
    padding:1px 15px;
}
.featured-grid .item-heading {
    display: inline-block;
    padding-bottom: 14px;
    font-size: 21px;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35)
}

.featured-grid .item-heading:hover {
    text-decoration: none
}

.featured-grid .caption-small {
    padding: 14px
}

.featured-grid .heading-small {
    padding: 9px 0;
    font-size: 14px;
    line-height: 1.6
}

.featured-grid .cat-title {
    position: static;
    display: inline-block;
    margin: 0;
    margin-bottom: 14px;
    pointer-events: auto
}

.featured-grid .caption-small .cat-title {
    opacity: 0;
    margin: 0;
    font-size: 11px;
    padding: 6px 9px;
    line-height: 1;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.featured-grid .item:hover .image-link:after {
    opacity: 1
}

.featured-grid .item:hover .cat-title {
    opacity: 1
}

.featured-grid-b .first {
    width: 55.65863%
}

.featured-grid-b .second {
    width: 44.34137%;
    margin: 0
}

.featured-grid-b .medium-item {
    padding-left: 4px;
    padding-bottom: 0px
}

.featured-grid-b .small-item {
    padding: 0;
    padding-left: 4px
}

.featured-grid-b .image-link {
    min-height: 460px
}

.featured-grid-b .small-item .image-link {
    min-height: 216px
}

.featured-grid-b .medium-item .image-link {
    min-height: 240px
}

.featured-grid-b .large-item .image-link:after {
    height: 60%
}

.cat-title {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    padding: 0 10px;
    margin-left: 7px;
    max-width: 90%;
    max-width: calc(100% - 14px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #e54e53;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cat-title a {
    color: inherit
}


@media only screen and (max-width:1128px) {
    .wrap{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
  
    .main-featured .blocks .image-link img {
        max-width: 100%;
        height: auto
    }
   
    .featured-grid .image-link {
        min-height: 150px
    }
    .featured-grid .small-item .image-link {
        min-height: 100px
    }
    .featured-grid-b .medium-item .image-link {
        min-height: 150px
    }
    
}

@media only screen and (max-width:799px) {
   
    .featured-grid .first,
    .featured-grid .second {
        float: none;
        width: 100%;
        margin: 0
    }
    .featured-grid .first {
        margin-bottom: 2px
    }
    .featured-grid .image-link img {
        width: 100%
    }
    .featured-grid-b .second .item {
        padding: 1px;
        padding-top: 0;
        width: 50%;
        float: left;
        box-sizing: border-box
    }
    .featured-grid-b .second .item:nth-child(3) {
        display: none
    }
    .featured-grid-b .second .image-link {
        min-height: 200px;
        height: 200px
    }
    .featured-grid-b .image-link img {
        height: 100%;
        max-height: 460px;
        object-fit: cover;
        font-family: 'object-fit: cover'
    }
   
}

@media only screen and (max-width:767px) {
    .featured-grid.featured-grid-b {
        margin: 0 -25px
    }
}

@media only screen and (max-width:415px) {
    .featured-grid {
        margin: 0 -23px
    }
    .featured-grid .the-date {
        display: none
    }
}

.cat-title {
    margin-top: 6px;
    margin-left: 6px;
    padding: 0 8px;
    border-radius: 2px;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: .035em
}

.cat-title a:hover {
    color: inherit
}

.main-featured {
    border: 0;
    padding: 0;
    background: transparent;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}

.main-featured .text-muted{
	text-align: center;
    display: block
}
.main-featured .the-date {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-transform: none;
    -webkit-font-smoothing: antialiased
}

.main-featured .cat {
    line-height: 24px;
    padding: 0 12px
}

.main-featured .the-date {
    margin-bottom: 10px
}



.featured-grid-b .caption {
    max-width: 75%;
    padding-bottom: 12px
}

.featured-grid-b .cat-title {
    margin-bottom: 11px
}

.featured-grid-b .caption-small {
    max-width: initial
}

.featured-grid-b .item-heading {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500
}

.featured-grid-b .the-date {
    color: #bbb
}

.featured-grid-b .small-item .item-heading {
    font-size: 17px;
    line-height: 1.35
}

.featured-grid-b .medium-item .item-heading {
    font-size: 19px;
    line-height: 1.35
}

.featured-grid-b .small-item .item-heading {
    font-size: 16px
}

@media(max-width:799px) {
   
    .featured-grid-b .item-heading {
        font-size: 23px
    }
    .featured-grid-b .second .item-heading {
        font-size: 15px
    }
   
}

.listen-section{
    text-align:center;
}
.btn-listen {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #940606);
  background-image: -moz-linear-gradient(top, #ff0000, #940606);
  background-image: -ms-linear-gradient(top, #ff0000, #940606);
  background-image: -o-linear-gradient(top, #ff0000, #940606);
  background-image: linear-gradient(to bottom, #ff0000, #940606);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 text-align: center;

}

.btn-listen:hover {
  background: #b80000;
  background-image: -webkit-linear-gradient(top, #b80000, #c21818);
  background-image: -moz-linear-gradient(top, #b80000, #c21818);
  background-image: -ms-linear-gradient(top, #b80000, #c21818);
  background-image: -o-linear-gradient(top, #b80000, #c21818);
  background-image: linear-gradient(to bottom, #b80000, #c21818);
  text-decoration: none;
}
