//
// Layout
// ==============================


// Base

html {
	.square( 100% );
}
body {
	height: 100%;
	font-weight: @font-weight-base;
}
li{
	list-style-type: none;
}


// Containers
// ------------------------------
.container-xs,
.container-sm,
.container-md {
	.container-fixed();
}
@media (min-width: @screen-sm-min) {
	.container-xs { width: 600px; }
	.container-sm { width: @screen-sm-min - @grid-gutter-width; }
	.container-md { max-width: @screen-md-min - @grid-gutter-width; }
}
.container{
	width: 90% !important;
}

// App alert
// ------------------------------
#app-alert {
	padding: 8px 0;
	position: relative;
	overflow: hidden;
	z-index: 9;
	background-color: #F9F9F9;
	.box-shadow(0 1px 0 rgba(0,0,0,0.1));
	.dismiss-alert {
		position: absolute;
		left: 20px;
		top: 0;
		line-height: 84px;
		color: @gray-light;
		font-size: 24px;
		&:hover {
			color: @gray;
			text-decoration: none;
		}
	}
	.app-icon {
		img {
			display: block;
			float: left;
			width: 64px;
			height: 64px;
			margin-right: 15px;
		}
	}
	.app-button {
		line-height: 64px;
		padding-right: 15px;
		float: right;
	}
	h5 {
		margin: 12px 0 5px;
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}

	@media (max-width: @screen-sm-max) {
		.row {
			div + div {
				margin-top: 0;
			}
		}
		.app-icon {
			padding-left: 40px;

			img {
				margin-right: 10px;
			}
		}

		.dismiss-alert-xs {
			left: 15px;
			line-height: 64px;
		}

		h5 {
		}

		.app-link {
			line-height: 64px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
}



// Body
// ------------------------------
.site-body {
	background: white;
	min-height: 400px;
	height: 100%;
	overflow: hidden;
	.floor;
	.floor-1;
	padding-bottom: @page-padding;
	padding-top: @page-padding;
}

// Footer
// ------------------------------
.site-footer {
	background-color: #333;
	color: whitesmoke;
	padding: 3em 0 0;
	font-size: @font-size-base * 1.1;
	position: relative;
	z-index: 3;

	.footer-heading {
		color: whitesmoke;
	}
	ul, ol {
		.list-unstyled();
	}
	p {
		margin-bottom: 5px;
	}
	a {
		color: whitesmoke;
	}

}
.footer-copyright {
	margin-top: 2em;
	padding: 2em @page-padding;
	border-top: 1px solid fade(black, 10%);
	text-align: center;
}



// Sticky footer (only on desktop)
// ------------------------------
@footerHeight: 320px;
.site-wrapper.has-sticky-footer {
	position: relative;
	padding-bottom: @footerHeight;
	min-height: 100%;
	background: @body-bg;
	@media (max-width: @screen-xs-max) {
		padding-bottom: 0;
	}
}

.site-footer.site-footer--sticky {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: @footerHeight;
	@media (max-width: @screen-xs-max) {
		position: relative;
		bottom: auto;
		height: auto;
	}
}



// Links
// ------------------------------
.links-list {
	h3 {
		margin: 5px 0 0 0;
	}

	h4 a { color: @text-color; }
	.byline { margin: 0 0 0 0; }

	.link {
		margin: 0;
		font-size: @font-size-base + 2;
	}

	.tags-list {
		margin: 10px 0 0;
		a {
			padding: 2px 10px;
			font-size: @font-size-base - 2;
		}
	}

	.description {
		margin: 10px 0;
	}
}

.tags-list {
	position: relative;
	overflow: hidden;
	li {
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	a {
		display: inline-block;
		padding: 2px 10px;
		border-radius: @border-radius-base;
		background-color: @gray-light;
		color: white;
		font-size: @font-size-base;

		&:hover {
			background-color: @link-color;
			text-decoration: none;
		}
		&.active {
			background-color: @link-color;
		}
	}
}

.links-list + .links-list {
	margin-top: 30px;
}

// SIDE BAR NAV LEFT
.sidebar{
    color: black;
    position: absolute;
    z-index: 3;
    left: 0;
    height: 100%;
    width: 250px;
    top: 32px;
    padding: 30px 30px 30px 10px;
    background-color: whitesmoke;
    line-height: 1.1em;
    font-size: 1.2em;
	overflow-x:hidden;
	transition:0.5s;
	li{
		margin-top: 15px;
	}
	a.menu-item{
		margin-top: 20px;
		color:#333;
		text-decoration: none;
		font-size: 20px;
	}
	a.menu-item:hover{
		color:grey;
	}
}
.open-slide{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 32px;
    padding: 30px 30px 30px 10px;
	overflow-x:hidden;

}
@media screen and (max-width: 775px) {
	.sidebar{
		display:none;
		ul li{display: none;}
	}
}

//Side-Nav Slide in
.toggle{
  height:100%;
  width:0;
  position: absolute;
  top:0;
  left:0;
  background-color:whitesmoke;
  overflow-x:hidden;
  padding-top:60px;
	.menu-item{
	margin-top:20px;
	padding-left: 80px;
	display:block;
	color:#333;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	}
	a:hover{
	color:grey;
	}
	.btn-close{
	position:absolute;
	right:22px;
	font-size:36px;
	margin-left:50px;
	text-decoration:none;
	color:#333;
	}
} 

@media screen and (min-width: 1289px) {
	.open-slide{display:none}
 	.toggle{display:none;
		a{display:none;}
		.btn-close{display: none;}
 	}
}
// Page
// ------------------------------

// Secondary page intro
.page-intro {
	padding-bottom: @page-padding;
	text-align: center;
	h1 {
		margin-bottom: 0.020em;
        margin-right: 500px;
 
	}
	.buttons > .btn {
		margin-right: 10px;
	}
	.lead {
		max-width: @screen-sm-min - @grid-gutter-width;
		margin-left: auto;
		margin-right: auto;
	}
}



// Page content
.page-content {
	.floor;
	.floor-1;
}

// Page section
.section {
	padding-bottom: @page-padding * 1.5;
	padding-top: @page-padding * 1.5;
}
.section--featured {
	padding-bottom: @page-padding * 1;
	padding-top: @page-padding * 2.5;
}

// Add space at the top on tiny screens
@media (max-width: @screen-sm-max) {
	.row {
		[class^="col-md"] + [class^="col-md"] {
			margin-top: @page-padding;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.row {
		[class^="col-sm"] + [class^="col-sm"] {
			margin-top: @page-padding;
		}
	}
}



// Misc
// ------------------------------
.back-bar {
	padding-top: 10px;
	padding-bottom: 10px;

	p {
		margin-bottom: 8px;
	}
}
.thumbnail {
	background-color: white;
}



// Animation
// ------------------------------
@-moz-keyframes pulse {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.4); }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-o-keyframes pulse {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.4); }
  100% { -o-transform: scale(1); }
}
@-ms-keyframes pulse {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.4); }
  100% { -ms-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

//menu

#main-menu .nav-bar { 
    display: fixed;
    list-style:none;
    margin-top: 0px;
    padding: 3px;
    text-align: left;
    margin-bottom:8px;
    word-spacing: 50px;
   
 
  background: fade(white, 60%) ;
  color: #fff ;
  font: 15px "Trebuchet MS",Arial,sans-serif ;
  line-height: 25px;
  text-decoration: none ;


    
}

#main-menu .nav-bar ul{
padding: 0px; 
margin: 0px; 
list-style-type:none;
background-color: fade(white, 60%); 

}

#main-menu .nav-bar li { 
    display: inline-block;
    width: 100px;
    height: 40px; 
    margin: 0px; 
    padding: 0px; 
    border-right: px solid black; 
    text-align: center; 
    line-height: 40 px;
}

#main-menu .nav-bar li a {
display: block; 
  text-decoration: none;
  color: black;

  padding-left: 20px;
  text-transform: uppercase;
	text-shadow: 1px 1px 1px #ccc;
    text-align: center ;

   
}


.nav-bar .nav-button-Business a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Politics a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Science a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Health a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Sports a { background:url("") no-repeat 0px -2px transparent; }

.nav-bar .nav-button-Entertainment a { background:url("") no-repeat 0px -2px transparent; }
