body, html{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: Century Gothic, Helvetica, sans-serif;
}

.container, .row{
  padding:0;
  margin:0;
  width:100%;
}

/* Jumbotron */
.jumbotron {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background:white;
}
       
#splaybuttons .fa-play-circle{
  font-size:3.4em;
  padding-top:20px;
  color:#0f9e6d;
}

#headerName{ 
  text-align:center;
  color:#0f9e6d;
  font-weight:bold;
  font-size:45px;
}
 
#memberbuttons .fa-user-circle{
  font-size:3em;
  padding-top:20px;
  color:#0f9e6d;
}

#flags{
  padding-top:45px;
}

#flags img{
  width:25px;
  height:15px;
  margin-left:2%;
}
/*End of Jumboturn*/



/* Navbar */
.navbar-nav li a{
  color:#0f9e6d !important;
  font-weight:bold;
  text-align:center;
  font-size:0.9em;
}

.navbar-brand{
  color:#0f9e6d !important;
  font-size:2em;
  margin:0;
  display:none;
}

#custom-search-input{
  border: solid 1px black;
  border-radius: 6px;
  height:35px;
  width:180px;
  margin-top:7px;
  margin-left:15px;
}

#custom-search-input input{
  border: white;
  box-shadow: none;
  height:33px;
  background: none;
  width:130px;
}

#custom-search-input button{
  margin: 0px 0 0 0;
  background: black;
  box-shadow: none;
  border: white;
  color: white;
  padding: 0 8px 0 10px;
  border-left: solid 1px white;
  height:33px;
  width:48px;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px white;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.navbar-default{
  background:white;
  border:0;
  border-radius:0;
  box-shadow:none;
  margin:0;
  padding:0;
}

.navbar-nav .active a{
  color:black !important;
  background:none !important;
  box-shadow:none !important;
}


#memberplayNav{
  margin-left:5px;
}

.navbar-header .fa-play-circle{
  font-size:2.2em;
  margin-left:3%;
  margin-top:5%;
  color:#0f9e6d;
  display:none;
}

#memberplayNav .fa-user-circle{
  font-size:2em;
  margin-left:3%;
  margin-top:33%;
  color:#0f9e6d;
  display:none;
}

.stick{
  position:fixed;
  top:0px;
  width: 100%;
  z-index: 1; 
}

.navbar-default{
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  width:100%;
}



.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;  
}

.mega-dropdown {
  position: static !important;
  
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background:rgba(15,158,109,0.95);
  
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid rgba(15,158,109,0.95);
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
 /* left: 285px;*/left: 50%;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid rgba(15,158,109,0.95);
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  /*left: 283px;*/left: 50%;
  z-index: 8; 
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
  
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: black;
  font-size: 30px;
  font-weight: bold;  
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.menuimg{
  margin: 0 auto;
  width:100%;
  height:80px;
  border:2px solid black;
  background-size: cover; 
  background-repeat: no-repeat;
}

.menuimgHeading{
  color:white;
  font-weight:bold;
  padding-left:2px;
  margin-bottom:0;
  background:black;
}

.menulist li, .menulist2 li {  
  list-style: none;
  
}
  
.menulist li a{
  font-size:15px;
}

.menulist2 li a{
  font-size:12px;
}
/*End of Navbar*/

/*Social Menu*/

#socialMenu{
  position:fixed;
  bottom:0px;
}

#icons{
  width:80%;
  bottom:0px;
  width:280px;
  z-index:100;
  height:60px;
  white-space: nowrap;
  margin-left:10%;
}


#icons img{
  width:54px;
  /*width:16%;*/
  height:50px;
  z-index:100;
}
/*End of Social Menu*/

/*Carousel*/
#myCarousel{
  /*border:4px solid black;*/
}

.carousel-inner .item img{
  width:100%; 
  height:350px;
    min-height: 350px;
}
/*End of Carousel*/

/*Page info*/
.info{
  font-style:italic;
  /*font-size:1.1em;*/
}
/*End of Page info*/

/*City*/
#cityIcons a .fa, #transportsIcons a .fa{
  font-size:4em;
  color:black;
}

#cityIcons button .fa, #transportsIcons button .fa{
  font-size:3.3em;
  color:#0f9e6d;
}

.btn-default{
  display: table-cell;
  height: 140px;
  width: 140px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: none;
  color:#0f9e6d;
  border:4px solid #0f9e6d;
  text-shadow:none;
  font-weight:bold;
  
}

#cityIcons button p, #transportsIcons button p{
  font-size:15px;
}
 #cityIcons .active .fa{
color:white;
}
.btn-default:hover .fa{
color:white !important;
}
.btn-default:hover, .btn-default:focus, #cityIcons .active, #transportsIcons .active{
  background: #0f9e6d;
  /*border:4px solid black;*/
  border:none;
  color:white;/**/
}

.hrpBlock img{
  width:100%;
  height:210px;/*180*/
  padding:0;
  margin:0;
  /*border:2px solid black;*/ 
}


#hotels, #restaurants, #pubs{
  padding:0;
  margin:0;
}

.hrpBlock {
  position: relative;
  width:100%;
  padding:0;
  margin:0;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f9e6d;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hrpBlock:hover .overlay {
  height: 50%;
}

.text {
 /* white-space: nowrap; 
  color: black;
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  color:white;
  position: absolute;
  left:5%;
    top:5%;
}


.text h3{
  font-size: 20px;
}

#restaurants, #pubs{
  display:none;
}

/*End of City*/

/*Insta*/

.instaPics{
  width:250px;
  height:250px;
  position:relative;
}

.instaIcon{
  position:absolute;
  left:85%;
  top:85%;
  font-size:2.2em;
  color:white;
}

.instaImageWrapper{
  position:relative;
  width:250px;
  height:250px;
}
/*End of Insta*/

/*Page Heading*/
.pageHeading{
  font-size:45px;

  margin-left:40px;
  margin-bottom:15px;
}
/*End of Page Heading*/

/*Contact Info*/
.contactinfo{
  background: #0f9e6d;
  width:100%;
  border-radius:6px
}

.contactinfo h3{
  padding:15px;
  font-size:25px;
  font-weight:bold;
  color:black;
}

.contactBlock{
  width:100%;
  text-align:center;
  color:black;
}

.contactIcon{
  color:black;
  font-size:1.8em;
}


.contactDetail{
  display: inline-block; 
  text-align: left;
  font-size:17px;
}

.contactDetail2{
  font-size:17px;
}
/*End of Contact Info*/

.noPadding{
padding:0 !important

}




/*Remove blue text for <a> tag*/
.noTextBlue{
  color:black;
}

.noTextBlue:hover{
  color:black;
}
/*End of remove blue text for <a> tag*/

/*Remove Padding and Margin*/
.noPaddingMargin{
  margin:0 !important;
  padding:0 !important;
}

/*Lists Wrapper*/
.listsWrapper{
  height: 100%;
  padding: 0 !important;
  width:100%;
  color:black;
  background: #0f9e6d;
  overflow:hidden !important;
}

.listsImg{
  width:100%;
  height:100%;
  padding: 0 !important;
  margin: 0 !important;
}

.listsHeading{
  margin-top:5px !important;
}

.listsContactIcon{
 color:black;
 font-size:1.5em;
}

@media (max-width:576px){
 .listsImg{
    height:200px;
   }
}
/*End of Lists Wrapper*/

.clear{
  clear:both;
}

.headlineLink, .headlineLink:hover{
  color:white;
  font-weight:bold;
}
/*Headline1 - News*/
.headlineImg{
  width:100%;
  height:300px;
  position:relative;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
}

.headlineTitle{
  color:white;
  font-weight:bold;
  font-size:25px;
  position:absolute;
  top:200px;
  left:25px;
}

.headlineTag{
  position:absolute;
  top:273px;
  left:25px;
  font-size:15px;
}
/*End of Headline1-News*/

/*Headline2 - News*/
.headline2Img{
  width:100%;
  height:160px;
  position:relative;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
}

.headline2Title{
  font-size:15px;
  position:absolute;
  top:90px;
  left:25px;
}

.headline2Tag{
  position:absolute;
  top:143px;
  left:25px;
  font-size:12px;
}
/*End of Headline2-News*/

/*Headline3 - News*/
.headline3Img{
  width:95%;
  height:130px;
  margin-top:10px;
  position:relative;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
}

.headline3Title{
  font-size:10px;
  position:absolute;
  top:80px;
  left:10px;
}

.headline3Tag{
  position:absolute;
  top:125px;
  left:10px;
  font-size:9px;
}

.headline3Title2{
  font-size:10px;
  position:absolute;
  top:80px;
  left:20px;
}

.headline3Tag2{
  position:absolute;
  top:125px;
  left:20px;
  font-size:9px;
}
/*End of Headline3-News*/

/*Tags Wrapper*/
.tags{
  height:35px;
  border-radius:2px;
  margin-left:15px;
  display: table;
}

.tagTitle{
  color:white;
  text-align:center;
  vertical-align:middle;
  display: table-cell;
}
/*End of Tags Wrapper*/

/*Background Color of Tags*/
.cultureBackground{
  background:#9c27b0 !important;
}

.entertainmentBackground{
  background:#e91e63 !important;
}

.lifestyleBackground{
  background:#ff9800 !important;
}

.otherBackground{
  background:#009688 !important;
}

.other2Background{
  background:#3f51b5 !important;
}

.other3Background{
  background:#db4437 !important;
}

.other4Background{
  background:#FF3232 !important;
}

.other5Background{
  background:#08457E!important;
}
/*End of Background Color of Tags*/

/*Color Text of Tags*/
.culture, .culture a{
  color:#9c27b0;
}

.entertainment, .entertainment a{
  color:#e91e63;
}

.lifestyle, .lifestyle a{
  color:#ff9800;
}

.other, .other a{
  color:#009688;
}
/*End of Color Text of Tags*/

/*Top Picks*/
.topPicks{
  background:black; 
  height:35px;
  display: table;
}

.topPicksHeading{
  color:white;
  vertical-align:middle;
  display: table-cell;
  padding-left:10px !important;
}

.topPicksImg{
  width:100%;
  height:100px;  
}

.topPicksTitle{
  font-weight:bold;
  color:black;
}

.topPicksTitle a, .topPicksTitle a:hover{
 color:black;
}

.topPicksTag{
  font-size:15px;
}
/*End of Top Picks*/

/*Headline4-News*/
.headline4Img{
  width:95%;
  height:200px;
}

.headline4Title{
  font-weight:bold;
  color:black;
}

.headline4Title a, .headline4Title a:hover{
 color:black;
}

.headline4Tag{
  font-size:15px;
}
/*End of Headline4-News*/


/*Article Content*/
.articleImg{
  width:100%;
  height:400px;
}

.articleDetail{
  border-bottom: 1px solid #cccccc;  
}

.articleDetail, .articleTags{
  width: 100%;
  color:black;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.articleDetail h5, .articleDetail p, .articleTags li{
  display: inline-block;
  margin-right:15px;
}

.tagHeading{
  margin-left:20px;
}
/*End of Article Content*/


/*Top Picks - Article and Tags*/
.topPicksImg2{
  width:100%;
  height:75px;
  margin-left:10px;
}

.headline5Title{
  margin:0;
  font-size:15px;
  color:black;
  margin-top:10px;
}

.headline5Title a, .headline5Title a:hover, .headline6Title a, .headline6Title a:hover{
  color:black;
}

.headline5Tag{
  font-size:12px;
}
/*End of Top Picks - Article and Tags*/

/*Author Pics*/
.authorPic{
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border:2px solid black;
  display: block;
  margin: 0 auto;
  margin-top:20px;
}

.authorPic img {
  width: auto;
  height: 100%;
  margin-left: -50px;
  
}
/*End of Author Pics*/

.textCenter{
  text-align:center;
}

#articleMarginTop{
  margin-top:80px !important;
}

.articlePaddingBottom{
  padding-bottom:15px;
}

.greyBackground{
  background:#dbdbdb;
}

hr{
  border-top: 1px solid #dbdbdb;
}

.articleTags li{
  color:white;
  background: #0f9e6d;
  padding:10px;
  border-radius:4px;
}

/*Social Article*/
#socialArticle i{
  font-size:1.8em;
  padding:5px;
  width:50px;
  color:white;
  text-align:center;
  margin-right:5px;
}

#socialArticle .fa-facebook{
  background: #3b5998;
}

#socialArticle .fa-twitter{
  background:#00aced;
}

#socialArticle .fa-google-plus{
  background: #dd4b39;
}

#socialArticle .fa-pinterest{
  background:#cb2027;
}

#socialArticle .fa-linkedin{
  background: #007bb6;
}

#socialArticle .fa-tumblr{
  background:#32506d;
}

#socialArticle .fa-envelope{
  background:black;
}
/*End of Social Article*/

/*Related Posts*/
.relatedPostImg{
  width:100%;
  height:130px;
}

.headline6Title{
  font-size:18px;
  color:black;
}
/*End of Related Posts*/

/*Leave Comment Div*/
.btn-primary, .btn-primary:hover{
  background:#0f9e6d;
  border:#0f9e6d;
  margin:0 auto;
  display:block;
}

.input-group{
  z-index:0
}
/*End of Leave Comment Div*/

/*Pagination*/
.pagination>.active>a, .pagination>.active>a:hover,.pagination>li>a:hover{
  background:#0f9e6d;
  color:white;
  border: 1px solid #0f9e6d;
}

.pagination>li>a, .pagination>.disabled>a, .pagination>.disabled>a:hover{
  color:#0f9e6d;
  border: 1px solid #0f9e6d;
}
/*End of Pagination*/

.wrapper{
  color:black;
}

/*Tags Div - Tags*/
.TagsWrapper{
  margin-left:15px;
  color:white;
  margin: 0;
  padding: 0;
  border: 2px dashed black;
}

.tagBlock{
  display: inline-table;
  margin-right:10px;
  text-align:center;
  border-radius:2px;
  margin-bottom:10px;
  height:35px;  
}

.innerTags{
  margin-top:10px;
  margin-left:10px;
}

.tagName{
  padding:10px !important;
  color:white;
  vertical-align:middle;
  display: table-cell;
}
/*End of Tags Div - Tags*/


/*
.cityBlock{
  position: relative;
 
}

.cityImg{
  width:100%;
  height:250px;
  display: block;
}

.cityImg:hover{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);

}

.cityBlock:hover .overlay {
  height: 20%;
}

.cityName {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/










/*About Ireland*/
.cityBlock {
  position: relative;
    
}

.cityImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:250px;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.middle a{
  text-decoration:none;
  color:white;
}

.cityBlock:hover .cityImg {
   filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
}

.cityBlock:hover .middle {
  opacity: 1;
}

.cityName {
  background-color: #0f9e6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-weight:bold;
}

.maps{
  border:2px solid black;
  width:100%; 
  height:400px;
}

/*End of About Ireland*/

/*Table*/
.table-inverse{
  background-color: #0f9e6d;
  color:white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
   color:black;
}
/*End of Table*/

/*Masonry*/
.main-container {
  padding: 40px 15px;
}

.thumbnail{
 border: 4px solid  #0f9e6d;
 color:black;
border-radius: 4px;
}
/*End of Masonry*/
/*FAQ*/
.visaButton{
  border-radius:6px; 
  border: 4px solid #0f9e6d;
  background: #0f9e6d;
  color:white;
}
/*End of FAQ*/

.smallIconImg{
  padding-top:10px;
  width:100px;
  height:100px;
}

.largeIconImg{
  width:200px;
  height:200px;
  padding-top:10px;

  
}
.flexImgWrapper{
  background:#0f9e6d;
  align-self:stretch;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  color:white;
}

.flexRow{
  background:white; 
  border:2px solid #0f9e6d; 
  display: flex;
  /* align vertical */
  align-items: center;
}

.flexRow2{
  background:white; 
  border:6px solid white; 
  display: flex;
  align-items: flex-start;
}

/*Air Travel*/
.airTitle{
  width:100%;
  background:#0f9e6d;
  margin:0 !important;
  padding:0 !important;
}

.airTitleText{
  padding:2px;
  font-size:1.4em;
  color:white;
}

.airP{
  padding:5px;
}

.airLink{
  padding-left:5px;
}

.airBorder{
  height: auto;
  border-right: 2px solid #0f9e6d; 
  border-bottom: 2px solid #0f9e6d;
  align-self:stretch;
  display:flex;
  flex-direction:column;
}
/*End of Air Travel*/

.completeFlexRow{
  display: flex;
}

@media (max-width:576px){
 .flexRow, .accomodationsRow, .flexRow2, .completeFlexRow{
   display: block !important;
  }
  
  .airBorder{
   border-left: 2px solid #0f9e6d; 
   }
   
   .row2{
    margin-bottom:10px;;
   }
   
   .airTitleText{
     text-align:center;
   }

  .embassyBlock:after{
    bottom:215px !important;
    left: 43% !important;
    border-top:0px !important;
    border-left: 25px solid transparent !important;
    border-bottom: 25px solid #0f9e6d !important; 
    border-right:25px solid transparent !important; 
  } 
}



/*Embassies*/
.embassyBlock{
  position: relative;
  width: 100%;
  padding: 0px;
  background: #0f9e6d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top:30px;
  color:white !important;
}

.embassyBlock:after{
  content: "";
  position: absolute;
  left:-25px;
  bottom:70px;
  border-style: solid;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  border-right:25px solid #0f9e6d; 
  display: block;
  width: 0;
  z-index: 1;
}


.embassyContactIcon{
  color:white;
  font-size:1.5em;
}

#australia, #brazil{
  display:none;
}

.embassyImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:250px;
  height:250px
}

.embassyMarginTop{
  margin-top:50px;
}

.embassyName{
  color:white; 
  border-bottom:1px solid white; 
  width:100%; 
  padding:10px;
}
/*End of Embassies*/
.noTextBlueWhite, .noTextBlueWhite:hover{
  color:white;
}

.brandButton{
  background:white; 
  border-radius:6px; 
  border: 4px solid #0f9e6d;
  color:white;
}

.brandButtonImg{
  width:100%;
  height:70px;
  padding:5px;
}

/*All Other Accomodations*/
.accomodationsImg{
  max-width:100%; 
}

.accomodationsImgWrapper{
  background:#0f9e6d;
  align-self:stretch;
  display:flex;
  color:white;
}

.accomodationsRow{
  background:white; 
  border:4px solid #0f9e6d; 
  display: flex;
  /* align vertical */
  align-items:flex-start;
}
/*End of All Other Accomodations*/



.pageImg{
width:100%; 
border:6px solid #0f9e6d;
}


/*Bus Services*/
.busEireann, .busEireannBlock{
  display:none;
}
.dublinBusButton{
  background:rgba(15,158,109, 0.5);
}

.busDescription{
  background:#0f9e6d;
  border-radius:6px;
}/*End of Bus Service*/

.padding5pxWhite{
  padding:10px 5px;
  color:white;
}

.greenBackground{
  background:#0f9e6d;
    margin:4px;
    
}

.smallContactFont{
  font-size:1em;
}

.marginLeft20px{
  margin-left:20px;
}








/*Popover*/
.popover{
  background: #0f9e6d;
  display:block;
  color:white;
}

.popover-title{ 
  background: #0f9e6d;
  color:white;
}

.popover.bottom .arrow:after {
  border-bottom-color: #0f9e6d;
}

.popover.right .arrow:after {
  border-right-color: #0f9e6d;
}
/*End of Popover*/

.cursorPointer{
  cursor:pointer;
}

/*Tabs Panel*/
.tab-content{
  padding-top:30px;
}
.nav-tabs{
  border-bottom:2px solid #0f9e6d;
}
.nav-tabs>li>a {
  color:black;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
  color: white;
  background-color: #0f9e6d;
  border-bottom:2px solid #0f9e6d;
}
/*End of Tabs Panel*/

.noHoverUnderline a:hover{
  text-decoration:none;
}


/*About Us*/
.aboutUSbtn{
  background:none; 
  padding:10px; 
  border:4px solid #0f9e6d; 
  border-radius:6px; 
  color:#0f9e6d; 
  width:100%
}

.aboutUs .active{
  background:#0f9e6d !important;
  color: white !important; 
}
/*End of About Us*/

/*Join The Team*/
div.jobTab {
  float: left;
  background-color: white;
  width: 30%;
  height: 100%;
}

div.jobTab button {
  display: block;
  background-color: inherit;
  color: #0f9e6d;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

div.jobTab button:hover {
  background-color: #0f9e6d;
  color:white;
}

div.jobTab button.active {
  background-color: #0f9e6d;
  color:white;
}

.jobTabContent {
  float: left; 
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: 1px solid #ccc;
  height: auto;
}

.applyBtn{
  background:#0f9e6d; 
  padding:10px; 
  border-radius:6px; 
  color:white; 
  margin-bottom:10px;
  box-shadow:none;
  border:none;
  width:100%;
}
/*End of Join The Team*/

/* Added to resolve conflicts with old css*/

.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
   // margin-left: auto;
    //margin-right: auto;
    //width: 100%;
    //padding-left: 0;
    //padding-right: 0;

    li {
    //list-style-type: square;
    }

   /*.row {
    	margin-left: 0;
    	margin-right: 0;
    }*/

    .container{
    	//padding-left: 0;
    	//padding-right: 0;
    }
}

.article-image.mv-3 {
	text-align: center;
}

.container-sm.width-auto {
    width: auto;
}

.thumbnail img {
  width: 100%;
  }

.item img{
  margin: auto;
}

.item{
    margin-bottom: 10px;
}



.highlights-box {
    margin-bottom: 42px;
    max-width: 1100px;
    margin: auto;
}
.row {
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   /* margin-right: -25px;
    margin-left: -25px;*/
}
.highlights-box .column.half:first-child {
    border-right: 1px solid #d9d9d9;
}
.column.half {
    width: 50%;
    background-color: white;
}
.highlights {
    position: relative;
}
.highlights .cat-title.larger {
    line-height: 30px;
    padding: 0 14px;
}
.cat-title {
    position: absolute;
    top: 0;
    line-height: 25px;
    background: #e54e53;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 10px;
    margin-left: 7px;
    color: #fff;
    display: block;
    z-index: 1;
        background: #00A651
}
.cat-title a {
    color: inherit;
}
.highlights article {
    margin-bottom: 0px;
}
.highlights article {
    position: relative;
}
.highlights .image-link {
    min-height: 42px;
    display: block;
    position: relative;
}
.highlights .image-link img {
    display: block;
    width: 100%;
    height: auto;
}

.highlights .meta {
    position: relative;
    margin-top: -12px;
    background: #f2f2f2;
    line-height: 25px;
    font-size: 11px;
    color: #a6a6a6;
    text-transform: uppercase;
    padding-left: 14px;
    overflow: hidden;
}
.highlights .meta time {
    float: left;
}
.highlights .meta .comments {
    float: right;
    display: inline-block;
    margin-right: 14px;
    white-space: nowrap;
}   
.highlights .comments a {
    color: inherit;
}
.highlights .comments .fa {
    font-size: 13px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.highlights h2 {
    color: #19232d;
    font-size: 14px;
    line-height: 1.3;
    padding-left: 14px;
    margin: 7px 0;

}
.highlights h2 a {
    color: #19232d;
    padding-bottom: 0;
}
.highlights .excerpt, .listing-alt .content .excerpt {
    font-size: 14px;
}
.highlights .excerpt {
    font-size: 13px;
    line-height: 1.615;
    margin-top: 14px;
    border-bottom: 1px solid #d9d9d9;
    color: #949697;
    padding-bottom: 14px;
}
.highlights .excerpt p {
    margin-bottom: 0;
}
.excerpt {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit;
    color: red;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul {
    list-style: none;
}
.highlights .thumb li {
    padding-top: 21px;
}
.posts-list li:first-child {
    padding-top: 0;
}
.posts-list li {
    overflow: hidden;
    padding: 24px 0 0 0;
    border-bottom: 0;
}
.posts-list li > a {
    float: left;
    position: relative;
    -moz-transform: translate3d(0, 0, 0);
}
.highlights .thumb .content {
    margin-left: 75px;
    min-height: 0;
}
.posts-list .content {
    margin-left: 103px;
    line-height: 1;
    min-height: 73px;
    border-bottom: 1px solid #d9d9d9;
}
.posts-list .content time {
    color: #a6a6a6;
    font-size: 11px;
    text-transform: uppercase;
}
.highlights .thumb .content > a {
    margin-bottom: 10px;
}
.posts-list .content > a {
    display: block;
    font-size: 13px;
    line-height: 1.615;
    margin: 8px 0;
    font-family: "Roboto Slab", Georgia, serif;
}

@media (max-width:650px){
  .column.half{
    width: 100%;
  }
}

