extends ../../layouts/default

include ../../mixins/article

block intro
	.page-intro: .container
		h1.page-title Tourism
		p.lead Babylon
block content
	.page-content: .container.blog
		.row
			div(class= data.tags.length || !data.articles.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if filters.tag && !data.tag
					h3 Invalid Tag.
				else
					if data.articles.length
						.post-cards.row(itemscope itemtype="http://schema.org/Blog")
							each article in data.articles
								+article(article)
					else
						if data.tag
							h3.text-muted No posts in the category #{data.tag.name}.
						else
							h3.text-muted There are no posts yet.
			
			if data.tags.length
				.col-md-2
					if data.tags.length
						h5.text-muted Filter by tag
						ul.list-unstyled.tags-list
							li: a(href='/tourism', class=!data.tags ? 'active' : false) All
							each tag in data.tags
								li: a(href='/tourism/' + tag.key, class=data.tag && data.tag.id == tag.id ? 'active' : false).list-group-item= tag.name

