extends ../../../../layouts/default

block intro
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Bank Account
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/bank-account.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Opening an Account
              |            
              p
                | If you move to Ireland from overseas you will not get too far without an Irish bank account. Unless your employer pays you by cash- you will need a bank account within a month or two.
                br
                br
                |            To open a bank account most banks usually require an ID, such as your passport, and a proof of your address in Ireland &ndash; normally a utility bill. Proof of address can also be a bank statement from any previous bank account you have had. This could take up to 2 months to get &ndash; so be prepared for a delay.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Bank charges
              |            
              p
                | For current accounts were very common in Ireland &ndash; but 2005 saw many banks dropping most of their account charges.
                br
                br
                |            The Ulster Bank , Bank Of Ireland , Permanent TSB and NIB all have current accounts with no charge. Some have &ldquo;strings attcahed&rdquo; &ndash; like Bank of Ireland need a minimum balance of 500 euro and 3 tranactions per month online or by telephone.
                |            
                br
                br
                |            Up until recently banks would charge a flat fee per quarter and transaction charges too &ndash; typically 20 to 30 cents a time. An average account could run up charges of between &euro;60 and &euro;120 a year. You were even charged when you use a cash machine.
                |            
                br
                br
                |            Banking is not completely free in Ireland &ndash; you still have to pay the 15 cent government tax on each cheque you write and a 40 euro stamp duty on credit cards.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Debit Cards
              |            
              p
                | In Ireland there are Laser cards &ndash; issued by all the major banks (there is an annual government tax of &euro;20 for each card).
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Internet banking
              |            
              p
                | Internet banking is common in Ireland &ndash; with AIB , Ulster Bank , Permanent TSB and Bank of Ireland all providing internet banking facilities. Even if you are going to use online banking &ndash; try and open an account with a bank that has a local branch. As good as internet banking is &ndash; there will always be a need to make visits to the bank now and then to get cash or deposit cash.
                br
                br
                |            If you are not with a &ldquo;fee free&rdquo; bank &ndash; use cashback in shops on your Laser (debit) card &ndash; it will save you being charged at an ATM.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
