extends ../../../../layouts/default

block intro
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading F&Aacute;S Training
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/fas-training.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | If you are unemployed or redundant or if you want to update your skills or change your career, there is a wide range of F&Aacute;S courses available to assist you.
                br
                br
                |            The courses on offer vary from centre to centre and from year to year. There are over 800 courses on offer so it is not possible to list them all, but they include diverse areas such as aircraft maintenance, business administration, childcare, computers, driving, engineering, hairdressing, software development, stone building, outdoor pursuits, return to work and video production.
                |            
                br
                br
                |            The courses also vary in length. They can last anything from 2 weeks to 104 weeks depending on the programme area. The courses take place at F&Aacute;S Training Centres around the country. You are eligible to take part on a F&Aacute;S course if you are unemployed, redundant or out of full time education.
                |            
                br
                br
                |            F&Aacute;S training courses are free and you will be paid a training allowance for the duration of your course. You can also claim an accommodation allowance if you need to live away from home for the duration of the course and a travel allowance if you live 3 miles or more from the course centre.
                |            
                br
                br
                |            You will be paid a weekly training allowance, which is linked to your age. If you are aged between 15 and 16 years, you will get &euro;80.60. If you are aged 17 years, you will get &euro;100.70. If you are 18 years and over, you will get &euro;197.80. However, if your existing social welfare payment is greater than this amount, it will be equalled in your training allowance. You will also get a training bonus of &euro;31.80 per week, if you:
                |            
                br
              ul
                li(type='square')
                  | have been getting Jobseeker&rsquo;s Benefit or Jobseeker&rsquo;s Allowance for 12 months or more, or
                |            
                li(type='square') are progressing from at least 12 months on a F&Aacute;S Community Employment Scheme or
                |            
                li(type='square') are progressing from at least 12 months on a F&Aacute;S Job Initiative Programme
                |            
                li(type='square')
                  | have been involved in a combination of the above. For example, if you have been getting Jobseeker&rsquo;s Benefit for 6 months and have been on a Community Employment Scheme for another 6 months of the previous year.
              |            
              |            If you are getting Disability Allowance or Blind Person&rsquo;s Pension, it will be suspended while you are on the course and you will be paid a F&Aacute;S training allowance of &euro;197.80 or an amount equal to your social welfare payment, whichever is the greater. You will also be paid a training bonus of &euro;31.80 per week. You will still keep your secondary benefits, such as your medical card or your travel pass. If you are unable to finish the course or do not have a job at the end of it, your entitlement to your social welfare payment will be restored.
              |            
              br
              br
              |            If you are getting Illness Benefit or Invalidity Pension, you will keep your social welfare payment as well as your secondary benefits. You will not be paid the &euro;31.80 training bonus.
              |            
              br
              br
              |            If you are disabled and are not receiving a social welfare disability payment, you will be paid both the F&Aacute;S training allowance and the training bonus.
              |            
              p
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
