extends ../../../../layouts/default

block intro
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading PPS Number
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/bank-account.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Your Personal Public Service Number (PPS No.) is a unique reference number that helps you to get access to social welfare benefits, public services and information in Ireland. State agencies that use PPS Numbers include the Department of Social and Family Affairs, the Revenue Commissioners and the Health Services Executive (HSE) Areas.
                br
                br
                |            The PPS Number is the new name for the Revenue and Social Insurance (RSI) number. If you already have an RSI number, it will not change, it will simply be known from now on as your PPS Number. However, if your number is the same as your partner&rsquo;s number but your number has a W at the end, you may need a new PPS Number. (See &lsquo;Phasing out of W numbers&rsquo; below for more information).
            // col-lg-10
          // row
          .main-container.noPaddingMargin
            .row.masonry-container
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite You can use your PPS Number for:
                  // row
                  .caption.row
                    p
                    ul
                      li(type='square') All social welfare services
                      |                           
                      li(type='square') The Free Travel Pass
                      |                           
                      li(type='square') Pupil ID
                      |                           
                      li(type='square') Public health services, including the medical card and the Drugs Payment Scheme
                      |                           
                      li(type='square') Child immunisation
                      |                           
                      li(type='square') Schemes run by the Revenue Commissioners, such as
                      |                           
                      li(type='square') Mortage Interest Relief
                      |                           
                      li(type='square') Housing grants
                      |                           
                      li(type='square') Driver theory testing and driver licences
                    |                        
                    p
              // /.item
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite A PPS No. has already be issued to you if:
                  |                      
                  |                      
                  .caption.row
                    p
                    ul
                      li(type='square') You were born in Ireland in or after 1971
                      |                           
                      li(type='square') You started work in Ireland after 1979
                      |                           
                      li(type='square') You are in receipt of a social welfare payment
                      |                           
                      li(type='square') You are taking part in the Drugs Payment Scheme.
                    |                        
                    p
              // /.item
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite PPS Numbers are printed on the following documents:
                  |            
                  |                      
                  .caption.row
                    p
                    ul
                      li(type='square') Social Services Card
                      |                           
                      li(type='square') Drugs Payment Card
                      |                           
                      li(type='square')
                        | P60 (the annual statement of pay, tax and social insurance contributions from your employer)
                      |                           
                      li(type='square')
                        | P45 (the statement of tax and pay to date issued by employer when you leave employment)
                      |                           
                      li(type='square') Tax Assessment
                      |                           
                      li(type='square') PAYE Notice of Tax Credits
                      |                           
                      li(type='square') Temporary Payment Card
                    |                        
                    p
              // /.item
            // /.masonry-container
          // /.main-container
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Phasing out of W numbers
              |            
              p
                | When some people got married their old Social Insurance number or RSI number could no longer be used and they had to use the same Personal Public Service Number (PPS No.) as their partner, but with a W at the end of the number.
                br
                br
                |            A W number was issued by Revenue to identify spouses in a Joint Assessed relationship. The W number was linked to the PPS Number of the Assessable Spouse (which is the term used in Revenue for the spouse who is charged tax on the income of both spouses). Revenue has begun a gradual phase out of W numbers; if you have a W number you should consider getting a new PPS Number. W numbers have not been issued since 1999.
                |            
                br
                br
                |            If your PPS No. is the same as your husband&rsquo;s or wife&rsquo;s PPS No. but the last letter of your number is a W, you will have to get a new PPS No. if your spouse is deceased or you are divorced or separated.
                |            
                br
                br
                |            If you never had your own number and always had a W number, or you were issued with a Social Insurance number before 1979, you will need to get a new PPS No. When you get your new number from the Department of Social and Family Affairs you must inform Revenue of your new PPS No. using 
                a(href='http://www.revenue.ie/forms/form12a.pdf', target='_blank') Form 12A
                | .
                |            
                br
                br
                |            If you were issued a PPS No. after 1979 and before you married, the Department may re-issue you with your original number on request.
                |            
                br
                br
                |            If you are changing your W number for a new PPS No. you do not need to go through the same application process as everyone else. To get your new number or to be re-instated with your old number just contact the Client Identity Section in the Department of Social and Family Affairs, the phone number is 
                b (01) 704 3236
                | .
              |            
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 How to get a PPS Number
              |            
              p
                | You cannot apply for a PPS Number before your arrival in Ireland. You must be already living in Ireland in order to apply for a PPS Number. You will be asked to produce documentary evidence of identity and residence in Ireland. Different documentary evidence will be required, depending on your nationality.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 Rules
              |            
              p
              ul
                li(type='square')
                  | In order to receive a number, you will need to fill out an application form and provide proof of your identity.
                |              
                li(type='square') If you are Irish, you will need to produce the following documents:
                |              
                li(type='square') The long version of your Birth Certificate
                |              
                li(type='square') Photographic ID, such as your passport or driving licence
              |  
              |            AND
              |             
              ul
                li(type='square') Evidence of your address, such as a household bill in your name.
                |              
                li(type='square') If you are not Irish, you will need to produce the following documents:
                |              
                li(type='square') Your passport or national identity card
              |  
              |            Or
              |            
              ul
                li(type='square') Your Immigration Card
              |  
              |            AND
              |            
              ul
                li(type='square')
                  | Evidence of your address, such as a household bill (ESB, telephone, gas, etc.) in your name.
              |  
              |            
              p
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 PPS Fraud Control
              |            
              p
                | The Department of Social and Family Affairs monitors identity fraud issues, helps to draw up procedures for processing applications and investigates suspect documents. Staff in social welfare offices are required to check the authenticity of supporting documents and refer doubtful cases for checking by document fraud experts.
            // col-lg-10
          // row
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3 How to apply
              |            
              p
                | Only the Department of Social and Family Affairs can provide you with a PPS No. Contact your local social welfare office about applying for a PPS No. Your local social welfare office may assist you with your application or they may direct you to another social welfare office.
                br
                br
                |            If you do not know your PPS No., contact your local social welfare office and staff there will find your number for you. If you are unsure as to whether a particular organisation, person or agent is entitled to request or use your PPS No., you should contact the Department of Social and Family Affairs at 
                b (01) 704 3236
                |  or e-mail cis@welfare.ie.
            // col-lg-10
          // row
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
    script(src='/js/lib/jquery/jquery-1.10.2.min.js')
    script.
      (function( $ ) {
      var $container = $('.masonry-container');
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      //Reinitialize masonry inside each panel after the relative tab link is clicked -
      $('a[data-toggle=tab]').each(function () {
      var $this = $(this);
      $this.on('shown.bs.tab', function () {
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      }); //end shown
      });  //end each
      })(jQuery);
