extends ../../../../layouts/default

block intro
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12.noPaddingMargin
        .container
          h1.pageHeading Recruitment Companies
          |    
          |           
          .row.row2
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.noPaddingMargin.flexRow
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.flexImgWrapper
                h1.textCenter(style='font-size:6em') A-C
              // col-lg-4
              .col-lg-8.col-md-8.col-sm-8.col-xs-12
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Abrivia Recruitment Specialists
                    |                           
                    li(type='square') Acorn Recruiting Ltd
                    |                           
                    li(type='square') ACR International
                    |                           
                    li(type='square') Adecco
                    |                           
                    li(type='square') Ann Kilgallon Recruitment
                    |                           
                    li(type='square') Ann O&rsquo; Brien Office Specialists
                    |                           
                    li(type='square') Approach People
                    |                           
                    li(type='square') Atlas Personnel Group
                |                      
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Bay Group Recruitment
                    |                          
                    li(type='square') Beeswax Europe
                    |                          
                    li(type='square') Beresford Blake Thomas Ltd
                    |                          
                    li(type='square') Careers Register
                    |                          
                    li(type='square') Celtic Careers
                    |                          
                    li(type='square') Cherry
                    |                          
                    li(type='square') Collins McNicholas
                    |                          
                    li(type='square') Cox Fitzsimons &amp; Wilkes
                    |                          
                    li(type='square') CPL
                    |                          
                    li(type='square') CPL Cork
                |                      
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') CPL Galway
                    |                          
                    li(type='square') CPL Limerick
                    |                          
                    li(type='square') CPL Managed Services
                    |                          
                    li(type='square') CPL Multilingual
                    |                          
                    li(type='square') CPL Retail
                    |                          
                    li(type='square') CPL Sales
                    |                          
                    li(type='square') CPL Solutions Ltd &ndash; IT Contracts
                    |                          
                    li(type='square') CPL Tech Support
              // col-lg-8
            // col-lg-12
          // row
          .row.row2
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.noPaddingMargin.flexRow
              .col-lg-8.col-md-8.col-sm-8.col-xs-12
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') DB Recruitment
                    |                      
                    li(type='square') Eden Recruitment
                    |                      
                    li(type='square') Executive Connections
                    |                      
                    li(type='square') Financial Directions
                    |                      
                    li(type='square') Firstaff Personnel Consultants Ltd.
                    |                      
                    li(type='square') Gilligan Black Recruitment
                    |                      
                    li(type='square') GKR Search &amp; Selection
                    |                      
                    li(type='square') Grafton Financial
                    |                      
                    li(type='square') Grafton Recruitment
                |                  
                |                  
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Grafton Recruitment (Commercial Division)
                    |                      
                    li(type='square') Grafton Recruitment (Multilingual Division)
                    |                      
                    li(type='square') HP Ireland (CPL)
                    |                      
                    li(type='square') HRM
                    |                      
                    li(type='square') Hudson
                    |                      
                    li(type='square') Hunter Marshal
                    |                      
                    li(type='square') Hunter Marshal Accountancy
                |                  
                |                  
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Hunter Marshal Banking
                    |                      
                    li(type='square') Hunter Marshal HR
                    |                      
                    li(type='square') Hunter Marshal Insurance
                    |                      
                    li(type='square') Hunter Marshal IT
                    |                      
                    li(type='square') Hunter Marshal Office
                    |                      
                    li(type='square') Hunter Marshal Sales &amp; Marketing
                    |                      
                    li(type='square') Hynes Agency
              // col-lg-8
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.flexImgWrapper
                h1.textCenter(style='font-size:6em') D-H
              // col-lg-4
            // col-lg-12
          // row
          .row.row2
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.noPaddingMargin.flexRow
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.flexImgWrapper
                h1.textCenter(style='font-size:6em') I-P
              // col-lg-4
              .col-lg-8.col-md-8.col-sm-8.col-xs-12
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Irish Landscape Recruitment Ltd
                    |                      
                    li(type='square') Kelly Services
                    |                      
                    li(type='square') Lakelands Recruitment
                    |                      
                    li(type='square') Lakelands Retail
                    |                      
                    li(type='square') Lex Consultancy
                    |                      
                    li(type='square') Manpower Cork
                    |                      
                    li(type='square') Manpower Dublin North
                    |                      
                    li(type='square') Manpower Dublin South
                |                
                |                
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Manpower Dublin West
                    |                      
                    li(type='square') Manpower on behalf of Glanbia Plc
                    |                      
                    li(type='square') Medical Recruitment Specialists
                    |                      
                    li(type='square') Meghen Group Legal
                    |                      
                    li(type='square') Meghen Group Office
                    |                      
                    li(type='square') Meghen Group Support Services
                |                
                |                
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') MR Recruit
                    |                      
                    li(type='square') Multiflex
                    |                      
                    li(type='square') O&amp;B Recruitment
                    |                      
                    li(type='square') O&amp;B Recruitment Galway
                    |                      
                    li(type='square') Parc Group
                    |                      
                    li(type='square') PPG
                    |                      
                    li(type='square') Prosperity Recruitment
              // col-lg-8
            // col-lg-12
          // row
          .row.row2
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.noPaddingMargin.flexRow
              .col-lg-8.col-md-8.col-sm-8.col-xs-12(style='')
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Rainbow Recruitment and Training (Killarney)
                    |                    
                    li(type='square') Reed Accountancy
                    |                    
                    li(type='square') Reed Recruitment
                    |                    
                    li(type='square') Richmond Contracts
                    |                    
                    li(type='square') Robert Half
                    |                    
                    li(type='square') RT Consulting
                |                
                |                
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Select Appointments PLC
                    |                    
                    li(type='square') Seyner Benson
                    |                    
                    li(type='square') Sigmar Recruitment
                    |                    
                    li(type='square') SOS School Of Sales
                    |                    
                    li(type='square') Star Retail Placement
                    |                    
                    li(type='square') Stelfox
                    |                    
                    li(type='square') Synergy Recruit
                |                
                |                
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  ul.noPaddingMargin
                    li(type='square') Techskills Resources
                    |                     
                    li(type='square') The Achievers (Legal Division)
                    |                     
                    li(type='square') The DP Group
                    |                     
                    li(type='square') Toni Gallen Recruitment Ltd.
                    |                     
                    li(type='square') 1-800 People
              // col-lg-8
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.flexImgWrapper
                h1.textCenter(style='font-size:6em') R-Z
              // col-lg-4
            // col-lg-8
          // row
        // row
      // container
    // col-lg-10
    .container
      .row
        .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
          | AD
        // col-lg-2
      // row
    // container
    // wrapper
