extends ../../../../layouts/default

block intro
    .wrapper
      .col-lg-10.col-md-10.col-sm-12.col-xs-12
        .container
          h1.pageHeading Volunteer-Charity Work
          |         
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              img.pageImg(src='http://babylonradio.com/wp-content/uploads/2015/05/volunteer.jpg')
            // col-lg-10
          // row
          br
          |       
          |       
          |     
          |     
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Volunteer Ireland is the National Volunteer Development Agency, an independent and non-profit organisations that inspires, promotes, supports and facilitates volunteer-charity work activity in Ireland.
                br
                br
                |            Volunteering is a term that covers many different activities: it could be visiting an elderly person, planting trees, assisting a charity with its finances and administration, helping someone to read or write. Volunteering is a serious commitment and although anyone can do it, before you ask to volunteer you should think about :
                |            
                br
              ul
                li(type='square') Why you want to volunteer
                |              
                li(type='square') What type of voluntary work you would like to do
                |              
                li(type='square') What skills or experience you can offer
                |              
                li(type='square') How much time you can give
                |              
                li(type='square') Other practicalities, such as when and where you want to volunteer
              |            It is important to remember that volunteers have rights and responsibilities. As a volunteer, your rights and responsibilities are:    
              |            
              p
            // col-lg-10
          // row
          .main-container.noPaddingMargin
            .row.masonry-container
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Rights
                  |                      
                  |                     
                  .caption.row
                    p
                    ul
                      li(type='square') To know if, and how, you are being selected
                      |                         
                      li(type='square') To be given meaningful work to do
                      |                         
                      li(type='square') To know what is expected from you
                      |                         
                      li(type='square') To be offered appropriate training
                      |                         
                      li(type='square') To be thanked and have your voluntary contribution recognised
                      |                         
                      li(type='square') To receive supervision and support
                      |                         
                      li(type='square') To get something out of the work for themselves
                      |                         
                      li(type='square') To know who to go to if there is a problem
                      |                         
                      li(type='square') To be reimbursed for out-of-pocket expenses incurred when volunteering
                      |                         
                      li(type='square') To make mistakes and learn from them
                      |                         
                      li(type='square') To be made aware of any disciplinary and grievance procedures
                      |                         
                      li(type='square') To be treated fairly and not to experience discrimination
                      |                         
                      li(type='square') To have safe working conditions, including insurance cover
                      |                         
                      li(type='square')
                        | To be informed about, and given the opportunity to play an active part in, the organisation as a whole
                      |                         
                      li(type='square') To be able to say &lsquo;no&rsquo; and to leave without feeling guilty
                    |  
                    |                       
                    p
              // /.item
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Responsibilities
                  |                      
                  |                     
                  .caption.row
                    p
                    ul
                      li(type='square') To respect the values and aims of the organisation
                      |                         
                      li(type='square') To be committed
                      |                         
                      li(type='square') To be reliable and give the organisation sufficient warning if unable to turn up
                      |                         
                      li(type='square') To be punctual
                      |                         
                      li(type='square') To attend essential training and support sessions
                      |                         
                      li(type='square') To undertake the work to a high standard
                      |                         
                      li(type='square') To be honest if there are problems
                      |                         
                      li(type='square') To respect confidentiality
                      |                         
                      li(type='square') To leave when asked and/or when no longer enjoying the volunteering experience
                    |   
                    |                       
                    p
              // /.item
            // masonry-container
          // main-container
          .row
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              p
                | Volunteer organisations have also rights and responsibilities towards people who volunteer. Their responsibilities and rightsare:
            // col-lg-10
          // row
          .main-container.noPaddingMargin
            .row.masonry-container
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Responsibilities
                  |                      
                  |                     
                  .caption.row
                    p
                    ul
                      li(type='square') To ensure the volunteering experience is a rewarding one
                      |                         
                      li(type='square') To ensure equal access and not to discriminate
                      |                         
                      li(type='square') To define clear, meaningful roles for volunteers
                      |                         
                      li(type='square') To have policies and procedures for volunteers
                      |                         
                      li(type='square') To provide all necessary information to volunteers
                      |                         
                      li(type='square') To be available for volunteers
                      |                         
                      li(type='square') To provide training where necessary
                      |                         
                      li(type='square') To thank and value volunteers
                      |                         
                      li(type='square') To provide insurance cover
                      |                         
                      li(type='square') To inform volunteers of any legal liabilities
                      |                         
                      li(type='square') To supervise and to provide support
                      |                         
                      li(type='square') To reimburse out-of-pocket expenses
                      |                         
                      li(type='square') To provide a safe working environment
                    |  
                    |                       
                    p
              // /.item
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.item
                .thumbnail
                  .row.greenBackground
                    h3.padding5pxWhite Rights
                  |                      
                  |                     
                  .caption.row
                    p
                    ul
                      li(type='square') To look for certain qualities and skills in volunteers
                      |                         
                      li(type='square') To select only volunteers who are suitable for the work
                      |                         
                      li(type='square') To draw up a volunteer agreement or &lsquo;contract&rsquo;
                      |                         
                      li(type='square') To ask for tasks to be done in a particular way
                      |                         
                      li(type='square') To ask for commitment
                      |                         
                      li(type='square') To ask for reliability
                      |                         
                      li(type='square') To ask for punctuality
                      |                         
                      li(type='square') To deal with disciplinary and grievance matters
                      |                         
                      li(type='square')
                        | To ask volunteers to leave if their involvement hinders the organisation achieving its goals
                    |   
                    |                       
                    p
              // /.item
            // masonry-container
          // main-container
        // container
      // col-lg-10
      .container
        .row
          .col-lg-2.col-md-2.col-sm-12.col-xs-12(style='background-color:blue')
            | AD
          // col-lg-2
        // row
      // container
    // wrapper
    script(src='/js/lib/jquery/jquery-1.10.2.min.js')
    script.
      (function( $ ) {
      var $container = $('.masonry-container');
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      //Reinitialize masonry inside each panel after the relative tab link is clicked -
      $('a[data-toggle=tab]').each(function () {
      var $this = $(this);
      $this.on('shown.bs.tab', function () {
      $container.imagesLoaded( function () {
      $container.masonry({
      columnWidth: '.item',
      itemSelector: '.item'
      });
      });
      }); //end shown
      });  //end each
      })(jQuery);
